/* COMPASS
 * ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE
 * ----------------------------------------------- */
/* MEDIA QUERIES
 * ----------------------------------------------- */
/* ADDITIONAL RESET
 * ----------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}
img.full-width {
  width: 100% !important;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
  line-height: 1;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 1.5rem padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
  white-space: pre-line;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
body {
  color: #000;
  font-family: "Helvetica", serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background-color: #F6F6F6;
}
body.inforgraphic {
  background: #ffffff;
}

html {
  font-size: 62.5%;
}

.ft-lato {
  font-family: "Lato", sans-serif;
}

.ft-time {
  font-family: "Times New Roman", serif;
}

.ft-arial {
  font-family: "Arial", sans-serif;
}

.ft-hel {
  font-family: "Helvetica", serif;
}

/* HELPERS
 * ----------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

u {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.display-flex {
  display: -webkit-flex;
  display: flex;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.wrapper {
  width: 100%;
  max-width: 962px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* RESPONSIVE
 * ----------------------------------------------- */
@media print, (min-width: 769px) {
  .trans {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.26s ease;
    -o-transition: opacity 0.26s ease;
    -webkit-transition: opacity 0.26s ease;
    transition: opacity 0.26s ease;
  }
  .trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
  }
}
@media print, (min-width: 992px) {
  .tel-pointer {
    display: inline-block;
    pointer-events: none;
  }

  .sm {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .display-block-sm {
    display: block !important;
  }

  .md {
    display: none !important;
  }

  .container {
    width: auto;
    min-width: 32rem;
  }

  .wrapper {
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 375px) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* PARTS
 * ----------------------------------------------- */
.main-header {
  padding: 14px 0 4px;
  background: #ffffff;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 373px;
}
.logo a, .logo span {
  display: block;
}

.main-header.sub-page {
  padding: 16px 0 6px 35px;
  background: none;
  margin: 0 auto;
}
.main-header.sub-page .inner {
  width: 100%;
  max-width: 1263px;
}
.main-header.sub-page .logo {
  margin: 0 26px 0 0;
  width: 159px;
}
.main-header.sub-page .navigation-sub {
  margin: 4px 0 0 0;
}
.main-header.sub-page .navigation-sub.active ul li ul {
  display: block;
}
.main-header.sub-page .navigation-sub ul li {
  min-width: 120px;
}
.main-header.sub-page .navigation-sub ul li:first-child a {
  border-left: 1px solid #cccccc;
}
.main-header.sub-page .navigation-sub ul li a {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  border-right: 1px solid #cccccc;
  display: block;
  padding: 8px 19px;
}
.main-header.sub-page .navigation-sub ul li ul {
  display: none;
}
.main-header.sub-page .navigation-sub ul li ul li a {
  border: 0 !important;
}
.main-header.sub-page .btn-menu-sub {
  display: block;
  padding: 10px 8px;
  width: 32px;
  margin: 2px 0 0 15px;
  cursor: pointer;
}
.main-header.sub-page .btn-menu-sub span {
  width: 16px;
  height: 2px;
  background: #000000;
  display: block;
}
.main-header.sub-page .btn-menu-sub span + span {
  margin-top: 3px;
}

@media only screen and (max-width: 991px) {
  .main-header {
    padding: 4px 0 4px;
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #cccccc;
  }

  .logo {
    width: 133px;
  }

  .main-header.sub-page {
    padding: 4px 0;
    background: none;
    position: relative;
  }
  .main-header.sub-page .logo {
    margin: 0 auto;
    width: 133px;
  }
  .main-header.sub-page .navigation-sub {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    background: #f6f6f6;
    padding: 16px 20px 25px 41px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .main-header.sub-page .navigation-sub.active {
    top: 41px;
    opacity: 1;
    visibility: visible;
  }
  .main-header.sub-page .navigation-sub .box-search {
    order: 0;
    margin-bottom: 8px;
  }
  .main-header.sub-page .navigation-sub ul {
    display: block;
    width: 100%;
  }
  .main-header.sub-page .navigation-sub ul li {
    min-width: 120px;
    width: 100%;
    display: block;
  }
  .main-header.sub-page .navigation-sub ul li + li {
    margin-top: 19px;
  }
  .main-header.sub-page .navigation-sub ul li:first-child a {
    border-left: 0;
  }
  .main-header.sub-page .navigation-sub ul li a {
    font-size: 15px;
    font-weight: 700;
    border: 0;
    padding: 0;
  }
  .main-header.sub-page .navigation-sub ul li ul {
    display: block;
    padding: 12px 0 0 1px;
  }
  .main-header.sub-page .navigation-sub ul li ul li + li {
    margin-top: 21px;
  }
  .main-header.sub-page .navigation-sub ul li ul li a {
    font-size: 10px;
    display: block;
    font-weight: 400;
  }
  .main-header.sub-page .btn-menu-sub {
    position: absolute;
    top: 4px;
    left: 0;
    margin: 0;
  }
}
/* COMMON FOOTER
 * ----------------------------------------------- */
.main-footer {
  margin-top: 43px;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.wrapper-footer {
  width: 100%;
  max-width: 1218px;
  margin: 0 auto;
}

.top-footer {
  padding: 14px 5px 0 23px;
}

.list-icon {
  text-align: right;
  padding: 3px 0 0 0;
}
.list-icon a {
  margin-left: 12px;
}

.bot-footer p {
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
}

.bot-footer {
  padding: 17px 36px 40px;
}
.bot-footer .address {
  width: 336px;
}

@media only screen and (max-width: 991px) {
  .top-footer {
    padding: 0;
  }

  .main-footer {
    margin-top: 50px;
    box-shadow: none;
    background-color: #F6F6F6;
  }
  .main-footer .logo-ft img {
    width: 291px;
    margin: 0 auto;
    display: block;
  }
  .main-footer .list-icon {
    text-align: center;
    margin-top: 12px;
  }
  .main-footer .list-icon a {
    margin: 0 7px;
  }
  .main-footer .list-icon a img {
    width: 55px;
  }

  .bot-footer {
    padding: 28px 28px 40px;
  }
  .bot-footer .address {
    width: 100%;
  }
  .bot-footer p {
    font-size: 14px;
    text-align: center;
    font-family: "Helvetica", serif;
    color: rgba(0, 0, 0, 0.6);
  }

  .inforgraphic .main-footer {
    background: none;
  }
}
@media only screen and (max-width: 375px) {
  .bot-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.navigation.active ul li ul {
  display: block;
}
.navigation ul li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 90px;
  text-align: center;
}
.navigation ul li:first-child {
  width: 32px;
}
.navigation ul li ul {
  padding-bottom: 20px;
  display: none;
}
.navigation ul li ul li {
  margin: 15px 0 0 0;
  display: block;
  width: auto;
}
.navigation ul li ul li:first-child {
  width: auto;
}
.navigation ul li ul li a {
  white-space: nowrap;
}
.navigation ul li + li {
  margin-left: 30px;
  margin-top: 5px;
}
.navigation ul li a {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}
.navigation ul li a.nav__home {
  display: block;
  padding: 10px 8px;
  width: 32px;
}
.navigation ul li a.nav__home span {
  width: 16px;
  height: 2px;
  background: #000000;
  display: block;
}
.navigation ul li a.nav__home span + span {
  margin-top: 3px;
}
.navigation--sub {
  display: none;
}
.navigation--sub.active {
  display: block;
}

.box-search {
  position: relative;
  display: flex;
  border: 1px solid #c1c1c1;
  border-radius: 30px;
  width: 163px;
  overflow: hidden;
  margin-top: 7px;
}
.box-search button {
  cursor: pointer;
  height: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
  background: url(../img/icon-03.png) no-repeat left center;
  flex: 1;
}
.box-search input {
  width: 135px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 12px;
  background: #ffffff;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  padding: 0 10px;
}

.btn-menu-sm {
  display: none;
}

@media only screen and (max-width: 991px) {
  .btn-menu-sm {
    display: block;
    padding: 10px 8px;
    width: 32px;
    position: absolute;
    top: 4px;
    left: 0;
  }
  .btn-menu-sm span {
    width: 16px;
    height: 2px;
    background: #000000;
    display: block;
  }
  .btn-menu-sm span + span {
    margin-top: 3px;
  }

  .box-search {
    margin-top: 0;
  }
  .box-search button {
    height: 29px;
  }
  .box-search input {
    height: 29px;
    background: #f6f6f6;
    padding: 0 16px;
  }

  .top-navigation {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    background: #f6f6f6;
    padding: 17px 20px;
    -ms-flex-pack: end;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
  }
  .top-navigation.active {
    opacity: 1;
    visibility: visible;
    top: 41px;
  }

  .box-search {
    order: 1;
  }

  .navigation {
    width: 100%;
    order: 2;
    padding: 8px 21px;
  }
  .navigation ul > li:first-child {
    display: none;
  }
  .navigation ul li {
    display: block;
    margin: 0 0 19px 0 !important;
    width: 100%;
    text-align: left;
  }
  .navigation ul li:last-child {
    margin-bottom: 0 !important;
  }
  .navigation ul li ul {
    display: block;
    padding: 12px 0 0 1px;
  }
  .navigation ul li ul li {
    margin: 0 0 21px 0 !important;
  }
  .navigation ul li ul li:last-child {
    margin-bottom: 0 !important;
  }
  .navigation ul li ul li:first-child {
    display: block;
    width: auto;
    margin: 0;
  }
  .navigation ul li ul li a {
    font-size: 10px;
    display: block;
    font-weight: 400;
  }
  .navigation ul li + li {
    width: 100%;
    margin: 0;
  }
  .navigation ul li a {
    font-size: 15px;
    font-weight: 700;
  }
}
/* PAGES
 * ----------------------------------------------- */
.block-event {
  padding: 19px 0 16px;
}

.list-event {
  text-align: center;
}
.list-event li {
  display: inline-block;
  margin: 0 17px;
}
.list-event li a {
  font-family: "Helvetica", serif;
  color: #666666;
  font-size: 12px;
  line-height: 19px;
}

.block-vin img {
  display: block;
  margin: 0 auto;
}

.section--story {
  padding: 33px 0 18px;
}

.col-left {
  width: 66.095%;
}

.col-right {
  width: 32.19%;
}

.ttl-story {
  font-size: 32px;
  line-height: 34px;
  border-top: 10px solid #000;
  font-family: "Arial", sans-serif;
  padding: 23px 15px 19px;
  border-bottom: 1px solid #cccccc;
  font-weight: normal;
}
.ttl-story.page-search {
  border: 0;
  padding: 0 15px 17px 0;
}

.card-item {
  border-top: 3px solid #000000;
  padding: 19px 16px 15px;
  background: #ffffff;
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.12);
  border-radius: 1px;
  margin-bottom: 13px;
}
.card-item .thumb {
  display: block;
  width: 100%;
  margin-bottom: 14px;
}
.card-item .thumb img {
  width: 100%;
}
.card-item .box-tag {
  margin-bottom: 1px;
}
.card-item .box-tag .tag {
  font-size: 11px;
  line-height: 13px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
.card-item .ttl-card {
  font-family: "Times New Roman", serif;
  font-size: 21px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 3px;
}
.card-item .author {
  font-size: 9px;
  line-height: 13px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
.card-item.card-02 .box-tag {
  margin-bottom: 0;
}
.card-item.card-02 .box-tag .tag {
  font-size: 10px;
}
.card-item.card-02 .ttl-card {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 1px;
}
.card-item.card-02 .author {
  font-size: 10px;
}
.card-item.card-04.card-horizontal .text {
  padding-right: 21px;
}
.card-item.card-04.card-horizontal .box-tag {
  margin-bottom: 13px;
  margin-top: -2px;
}
.card-item.card-04.card-horizontal .ttl-card {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 5px;
}
.card-item.card-05 .thumb {
  display: none;
}
.card-item.card-05 .box-tag {
  margin-bottom: 4px;
  margin-top: -2px;
}
.card-item.card-05 .ttl-card {
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 5px;
}
.card-item.card-05 .author {
  font-size: 10px;
}
.card-item.card-06 .box-tag {
  margin-bottom: 1px;
}
.card-item.card-06 .box-tag .tag {
  font-size: 9px;
}
.card-item.card-06 .ttl-card {
  font-size: 21px;
  line-height: 23px;
  margin-bottom: 2px;
}
.card-item.card-06 .author {
  font-size: 10px;
}
.card-item.card-06.card-horizontal {
  padding-bottom: 16px;
}
.card-item.card-06.card-horizontal.card-reverse img {
  order: 1;
  flex: 1;
}
.card-item.card-06.card-horizontal.card-reverse .text {
  order: 2;
  padding: 0 0 0 16px;
  width: 34.418%;
}
.card-item.card-06.card-horizontal .box-tag {
  margin-bottom: 9px;
  margin-top: -2px;
}
.card-item.card-06.card-horizontal .box-tag .tag {
  font-size: 9px;
}
.card-item.card-06.card-horizontal .ttl-card {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 3px;
}
.card-item.card-06.card-horizontal .author {
  font-size: 11px;
}
.card-item.card-07.card-horizontal {
  padding-bottom: 16px;
}
.card-item.card-07.card-horizontal.card-reverse .thumb {
  order: 1;
  flex: 1;
}
.card-item.card-07.card-horizontal.card-reverse .text {
  order: 2;
  padding: 0 0 0 16px;
  width: 33.334%;
}
.card-item.card-07.card-horizontal .box-tag {
  margin-bottom: 8px;
  margin-top: -2px;
}
.card-item.card-07.card-horizontal .ttl-card {
  font-size: 38px;
  line-height: 40px;
  letter-spacing: 0.5px;
  font-family: "Arial", sans-serif;
  margin-bottom: 9px;
}
.card-item.card-07.card-horizontal .author {
  font-size: 11px;
}
.card-item.card-08.card-horizontal {
  padding-bottom: 16px;
}
.card-item.card-08.card-horizontal .thumb {
  flex: 1;
}
.card-item.card-08.card-horizontal .text {
  padding: 0 22px 0 0;
  width: 34.418%;
}
.card-item.card-08.card-horizontal .box-tag {
  margin-bottom: 13px;
  margin-top: -2px;
}
.card-item.card-08.card-horizontal .ttl-card {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 9px;
}
.card-item.card-08.card-horizontal .author {
  font-size: 11px;
}
.card-item.card-horizontal {
  padding-bottom: 17px;
}
.card-item.card-horizontal.card-reverse .thumb {
  order: 1;
}
.card-item.card-horizontal.card-reverse .text {
  order: 2;
  padding: 0 0 0 16px;
}
.card-item.card-horizontal .thumb {
  order: 2;
  margin-bottom: 0;
  flex: 1;
}
.card-item.card-horizontal .text {
  order: 1;
  padding-right: 16px;
  width: 143px;
}
.card-item.card-horizontal .box-tag {
  margin-bottom: 1px;
  margin-top: -2px;
}
.card-item.card-horizontal .box-tag .tag {
  font-size: 10px;
}
.card-item.card-horizontal .ttl-card {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}
.card-item.card-horizontal .author {
  font-size: 10px;
}

.card-01 {
  width: 65.747%;
}

.card-02 {
  width: 31.656%;
}

.col-left-small {
  width: 48.703%;
}

.card-04 {
  width: 66.095%;
}

.card-08 {
  width: 66.095%;
}

.card-05, .card-06 {
  width: 48.703%;
}

.card-full {
  width: 100%;
}

.block-diamond {
  padding-top: 3px;
  margin-bottom: 6px;
}
.block-diamond.p-t-0 {
  padding-top: 0;
}
.block-diamond img {
  display: block;
}

.block-read {
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  margin-bottom: 12px;
}

.ttl-sidebar {
  font-size: 32px;
  line-height: 34px;
  font-family: "Arial", sans-serif;
  border-top: 10px solid #000;
  padding: 24px 0 19px 16px;
  border-bottom: 1px solid #cccccc;
}

.list-read {
  padding: 0 16px;
}
.list-read li {
  border-bottom: 1px solid #EFEFEF;
}
.list-read.list-no-tag .card-read {
  padding-bottom: 10px;
  padding-top: 9px;
}
.list-read.list-no-tag .card-read .box-tag {
  display: none;
}
.list-read.list-no-tag .card-read .ttl-card {
  font-family: "Times New Roman", serif;
  margin-top: 9px;
  margin-bottom: 12px;
}
.list-read.full-first-item .card-read:first-child {
  padding-bottom: 13px;
  display: block;
}
.list-read.full-first-item .card-read:first-child .img {
  display: block;
  width: 100%;
}
.list-read.full-first-item .card-read:first-child .img img {
  width: 100%;
}
.list-read.full-first-item .card-read:first-child .text {
  padding: 0;
}
.list-read.full-first-item .card-read:first-child .text .ttl-card {
  font-size: 17px;
  line-height: 20px;
  margin: 14px 0 0;
}

.section--box {
  margin-bottom: 14px;
}

.card-read {
  padding: 8px 0px 14px;
  font-family: "Arial", sans-serif;
}
.card-read img {
  width: 75px;
  margin-top: 8px;
}
.card-read .text {
  flex: 1;
  padding-left: 16px;
}
.card-read .box-tag {
  margin-top: 0;
}
.card-read .box-tag .tag {
  font-size: 9px;
  line-height: 9px;
  text-transform: uppercase;
  color: #666666;
}
.card-read .ttl-card {
  font-size: 14px;
  line-height: 16px;
}
.card-read .author {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.section--bottom {
  margin-bottom: 62px;
}

.block-bottom {
  border-top: 10px solid #000000;
  padding-top: 10px;
}

.section--item-new .card-reverse .col-left {
  order: 2;
}
.section--item-new .card-reverse .col-right {
  order: 1;
}

.btn-readmore {
  border-top: 1px solid #cccccc;
  background: url(../img/icon-01.png) no-repeat left 16px center;
  font-size: 11px;
  padding: 23px 20px 24px 57px;
  display: block;
  text-transform: uppercase;
}

.block-youtube .ttl-yt {
  font-size: 25px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.inner-youtube .btn-readmore {
  flex: 1;
  border: 0;
  margin: -8px 0 0 0;
  background: url(../img/icon-01.png) no-repeat left 9px center;
  padding: 23px 20px 24px 48px;
}
.inner-youtube .img {
  width: 180px;
}

@media only screen and (max-width: 991px) {
  .block-event {
    padding: 0 0 16px;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12);
  }

  .block-vin {
    padding: 16px 18px 0;
  }
  .block-vin * {
    width: 100%;
  }

  .col-left, .card-01, .card-02, .card-04, .card-05, .card-06, .card-08, .col-left-small, .col-right {
    width: 100%;
  }

  .ttl-story {
    font-size: 30px;
    line-height: 34px;
    border-top: 10px solid #000;
    font-family: "Arial", sans-serif;
    padding: 14px 15px 11px;
    border-bottom: 1px solid #cccccc;
    font-weight: normal;
  }

  .section--story {
    padding: 8px 0 18px;
  }
  .section--story .inner-story {
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12);
    background: #ffffff;
  }

  .card-item {
    border-top: 0;
    padding: 12px 16px 3px !important;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }
  .card-item.no-border .text {
    border: 0 !important;
  }
  .card-item.card-05 .thumb {
    display: block;
  }
  .card-item .thumb {
    margin-bottom: 9px !important;
  }
  .card-item .thumb a {
    display: block;
  }
  .card-item .text {
    border-bottom: 1px solid #cccccc;
    padding: 0 0 7px 0 !important;
    width: 100% !important;
  }
  .card-item .box-tag {
    margin-bottom: 5px !important;
  }
  .card-item .box-tag .tag {
    font-family: "Helvetica", serif !important;
    font-size: 11px !important;
  }
  .card-item .ttl-card {
    font-size: 20px !important;
    line-height: 23px !important;
    margin-bottom: 3px !important;
  }
  .card-item .author {
    display: none;
  }

  .block-diamond {
    margin-bottom: 16px;
  }
  .block-diamond img {
    margin: 0 auto;
  }

  .section--event .ttl-story {
    border-bottom: 0;
    padding-bottom: 1px;
  }
  .section--event .block-event {
    background: #ffffff;
    padding-bottom: 0;
    margin-bottom: 14px;
  }
  .section--event .block-event .list-event li {
    text-align: left;
    display: block;
    margin: 0;
    padding: 16px 19px 13px;
  }
  .section--event .block-event .list-event li + li {
    border-top: 1px solid #cccccc;
  }
  .section--event .block-event .list-event li a {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    font-family: "Helvetica", serif !important;
  }

  .section--box .list-read.full-first-item .card-read {
    padding: 9px 0 15px;
  }
  .section--box .list-read.full-first-item .card-read + .card-read {
    border-top: 1px solid #cccccc;
  }
  .section--box .list-read.full-first-item .card-read img {
    width: 90px;
  }
  .section--box .list-read.full-first-item .card-read:first-child {
    padding: 15px 0 9px;
  }
  .section--box .list-read.full-first-item .card-read:first-child .img img {
    margin-top: 0;
    width: 100%;
  }
  .section--box .list-read.full-first-item .card-read:first-child .text {
    padding: 0;
  }
  .section--box .list-read.full-first-item .card-read:first-child .text .ttl-card {
    margin: 21px 0 0;
  }
  .section--box .list-read.full-first-item .card-read .text {
    padding-left: 18px;
  }
  .section--box .list-read.full-first-item .card-read .text .box-author {
    display: none;
  }
  .section--box.list-no-tag-md .card-read {
    padding-bottom: 15px;
    padding-top: 9px;
  }
  .section--box.list-no-tag-md .card-read .box-tag {
    display: block;
    margin: 3px 0 6px 0;
  }
  .section--box.list-no-tag-md .card-read .box-tag a {
    font-size: 11px;
  }
  .section--box.list-no-tag-md .card-read .ttl-card {
    font-size: 14px;
    line-height: 16px;
  }
  .section--box.list-no-tag-md .card-read .box-author {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .block-vin {
    padding-left: 10px;
    padding-right: 10px;
  }

  .ttl-story {
    padding-left: 10px;
    padding-right: 10px;
  }

  .list-read {
    padding: 0 10px;
  }

  .section--event .block-event .list-event li, .card-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-item {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.list-category {
  background: #FFFFFF;
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 1px;
  border-top: 3px solid #000000;
}

.card-cat {
  padding: 15px 16px 17px;
  border-bottom: 1px solid #cccccc;
}
.card-cat .img {
  width: 179px;
}
.card-cat .text {
  flex: 1;
  padding: 0 16px 0 16px;
}
.card-cat .infor {
  color: #666666;
  font-size: 11px;
  line-height: 13px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.card-cat .infor span {
  margin: 0 17px;
}
.card-cat .ttl-cat {
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  margin-bottom: 7px;
}
.card-cat .sumary {
  font-size: 14px;
  line-height: 16px;
  font-family: "Times New Roman", serif;
}

.pager-cat {
  padding: 28px 0 28px;
}
.pager-cat ul {
  text-align: center;
}
.pager-cat ul li {
  display: inline-block;
  margin: 0 6px;
  font-family: "Arial", sans-serif;
}
.pager-cat ul li.first-child {
  margin-right: 19px;
}
.pager-cat ul li.last-child {
  margin-left: 19px;
}
.pager-cat ul li span {
  margin: 0 10px;
}
.pager-cat ul li img {
  display: inline-block;
  vertical-align: middle;
}
.pager-cat ul li a {
  font-size: 10px;
  color: #666666;
}
.pager-cat ul li a.active {
  color: #000000;
}

.inner-story.page-cat {
  background: none;
  box-shadow: none;
  margin-bottom: 41px;
}

.section--event.page-cat {
  margin: 22px 0 27px;
}

@media only screen and (max-width: 991px) {
  .inner-story.page-cat {
    margin-bottom: 0;
  }

  .list-category {
    padding-left: 16px;
    padding-right: 16px;
  }
  .list-category .btn {
    margin: 0 -16px;
  }

  .card-cat {
    padding: 14px 0 13px;
    border-bottom: 0;
  }
  .card-cat + .card-cat {
    border-top: 1px solid #EFEFEF;
  }
  .card-cat .img {
    width: 75px;
  }
  .card-cat .text {
    flex: 1;
    padding: 0 16px 0 16px;
  }
  .card-cat .infor {
    margin-top: 1px;
    line-height: 9px;
    font-family: "Helvetica", serif;
    margin-bottom: 13px;
  }
  .card-cat .infor span {
    margin: 0 5px;
  }
  .card-cat .ttl-cat {
    font-size: 16px;
    line-height: 16px;
    font-family: "Times New Roman", serif;
    margin-bottom: 0;
  }
  .card-cat .sumary {
    display: none;
  }
}
.content-detail {
  max-width: 1190px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.section-inforgraphic {
  margin-top: 26px;
}
.section-inforgraphic .banner {
  margin-bottom: 10px;
}
.section-inforgraphic .banner img {
  width: 100%;
  display: block;
}
.section-inforgraphic .top-inforgraphic {
  padding: 90px 36px 32px;
}
.section-inforgraphic .sumary p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.108px;
  color: #1A1A1A;
}
.section-inforgraphic .graphic {
  width: 100%;
  display: block;
  margin-bottom: 91px;
}

.col-left-inforgraphic {
  width: 58.799%;
}

.card-other {
  width: 47.995%;
  margin-bottom: 63px;
}
.card-other .thumb {
  margin-bottom: 20px;
}
.card-other .thumb img {
  display: block;
}
.card-other .text .box-tag {
  display: none;
}
.card-other .text .box-tag a {
  font-size: 11px;
  color: #666666;
  text-transform: uppercase;
}
.card-other .text .ttl-card {
  font-size: 24px;
  line-height: 29px;
  font-family: "Times New Roman", serif;
  margin-bottom: 12px;
}
.card-other .text .author {
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .section-inforgraphic {
    margin-top: 26px;
  }
  .section-inforgraphic .banner {
    margin-bottom: 10px;
  }
  .section-inforgraphic .banner img {
    width: 100%;
    display: block;
  }
  .section-inforgraphic .top-inforgraphic {
    padding: 15px 18px 22px;
  }
  .section-inforgraphic .ttl-inforgraphic {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.9px;
    font-family: "Times New Roman", serif;
    margin-bottom: 10px;
  }
  .section-inforgraphic .sumary {
    margin-bottom: 13px;
  }
  .section-inforgraphic .sumary p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.12px;
    color: #1A1A1A;
  }
  .section-inforgraphic .bot-inforgraphic span {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.495px;
    text-transform: uppercase;
    margin-right: 19px;
  }
  .section-inforgraphic .graphic {
    margin-bottom: 20px;
  }

  .col-left-inforgraphic {
    width: 100%;
  }

  .list-card-other {
    padding-left: 16px;
    padding-right: 16px;
    background: #FFFFFF;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 1px;
    border-top: 3px solid #000000;
  }
  .list-card-other .btn {
    margin: 0 -16px;
    width: 100%;
  }

  .card-other {
    width: 100%;
    margin-bottom: 0;
    display: -webkit-flex;
    display: flex;
    padding: 14px 0 13px;
  }
  .card-other + .card-other {
    border-top: 1px solid #cccccc;
  }
  .card-other .thumb {
    margin-bottom: 0;
  }
  .card-other .thumb img {
    width: 75px;
  }
  .card-other .text {
    flex: 1;
    padding: 0 16px 0 16px;
  }
  .card-other .text .box-tag {
    display: block;
    margin: -5px 0 9px 0;
  }
  .card-other .text .box-tag a {
    font-size: 11px;
    color: #666666;
    text-transform: uppercase;
  }
  .card-other .text .ttl-card {
    font-size: 14px;
    line-height: 16px;
    font-family: "Helvetica", serif;
    margin-bottom: 0;
  }
  .card-other .text .author {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .list-card-other {
    padding-left: 10px;
    padding-right: 10px;
  }

  .list-card-other .btn {
    margin: 0 -10px;
  }
}
.line-detail {
  margin: 45px 0 36px;
  text-transform: uppercase;
}
.line-detail .author {
  font-size: 11px;
  color: #ffffff;
  display: inline-block;
  padding: 6px 18px;
  background: #000000;
}
.line-detail .tag, .line-detail .span {
  font-size: 11px;
}
.line-detail span {
  margin-right: 18px;
}

.ttl-detail {
  font-size: 44px;
  letter-spacing: 1.17px;
  line-height: 47px;
  margin-bottom: 19px;
}

.sumary-detail {
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 52px;
}

.image-detail img {
  margin-bottom: 11px;
}
.image-detail .caption {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.495px;
  text-transform: uppercase;
}

.top-detail {
  margin-bottom: 20px;
}

.col-left-detail {
  width: 62.447%;
}
.col-left-detail p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.108px;
  color: #1A1A1A;
  margin-bottom: 44px;
}
.col-left-detail h3 {
  font-size: 28px;
  line-height: 28px;
  color: #1A1A1A;
  margin-bottom: 42px;
}
.col-left-detail img {
  margin-bottom: 51px;
}

.list-other-item {
  padding: 0 0 0 31px;
}
.list-other-item li {
  margin-bottom: 35px;
}
.list-other-item li a {
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #185F7D;
  position: relative;
}
.list-other-item li a:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 7px;
  background: #299BCB;
  top: 15px;
  left: -33px;
}

.section-detail {
  margin-bottom: 17px;
}

.list-card-other.list-four-item {
  margin-bottom: 98px;
}
.list-card-other.list-four-item .card-other {
  width: 23.071%;
  margin-right: 2.5%;
  margin-bottom: 25px;
}
.list-card-other.list-four-item .card-other:nth-child(4n) {
  margin-right: 0;
}
.list-card-other.list-four-item .card-other .thumb {
  margin-bottom: 17px;
}
.list-card-other.list-four-item .card-other .box-tag {
  display: none;
}
.list-card-other.list-four-item .card-other .ttl-card {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.336px;
  font-family: "Helvetica", serif;
}

@media only screen and (max-width: 991px) {
  .line-detail {
    margin: 40px 0 16px;
  }
  .line-detail .author {
    display: none;
  }
  .line-detail span {
    margin-right: 18px;
  }

  .ttl-detail {
    font-size: 36px;
    letter-spacing: 0.9px;
    line-height: 36px;
    margin-bottom: 19px;
  }

  .sumary-detail {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 45px;
    letter-spacing: 0.12px;
  }

  .image-detail {
    margin: 0 -20px;
  }
  .image-detail img {
    margin-bottom: 11px;
    width: 100%;
  }
  .image-detail .caption {
    padding: 0 20px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.495px;
    text-transform: uppercase;
  }

  .top-detail {
    margin-bottom: 20px;
  }

  .col-left-detail {
    width: 100%;
  }
  .col-left-detail p {
    margin-bottom: 44px;
  }
  .col-left-detail h3 {
    margin-bottom: 28px;
  }
  .col-left-detail img {
    margin-bottom: 51px;
  }

  .list-other-item {
    padding: 0 0 0 31px;
  }
  .list-other-item li {
    margin-bottom: 11px;
  }
  .list-other-item li a {
    font-size: 18px;
    line-height: 20px;
  }
  .list-other-item li a:after {
    width: 6px;
    height: 6px;
    top: 10px;
    left: -13px;
  }

  .section-detail {
    margin-bottom: 17px;
  }

  .list-card-other.list-four-item {
    margin-bottom: 10px;
  }
  .list-card-other.list-four-item .card-other {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .list-card-other.list-four-item .card-other .thumb {
    margin-bottom: 0;
  }
  .list-card-other.list-four-item .card-other .box-tag {
    display: block;
  }
  .list-card-other.list-four-item .card-other .ttl-card {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 375px) {
  .top-detail {
    padding: 0 10px;
  }

  .image-detail {
    margin: 0 -10px;
  }
  .image-detail .caption {
    padding: 0 10px;
  }

  .content-detail {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
