@charset "utf-8"

// event
.list-category
	background: #FFFFFF
	box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12)
	border-radius: 1px
	border-top: 3px solid #000000
.card-cat
	padding: 15px 16px 17px
	border-bottom: 1px solid #cccccc

	.img
		width: 179px
	.text
		flex: 1
		padding: 0 16px 0 16px
	.infor
		color: #666666
		font-size: 11px
		line-height: 13px
		font-family: 'Arial', sans-serif
		text-transform: uppercase
		margin-bottom: 9px
		span
			margin: 0 17px
	.ttl-cat
		font-size: 16px
		line-height: 20px
		font-family: 'Arial', sans-serif
		margin-bottom: 7px
	.sumary
		font-size: 14px
		line-height: 16px
		font-family: 'Times New Roman', serif
.pager-cat
	padding: 28px 0 28px
	ul
		text-align: center
		li
			display: inline-block
			margin: 0 6px
			font-family: 'Arial', sans-serif
			&.first-child
				margin-right: 19px
			&.last-child
				margin-left: 19px

			span
				margin: 0 10px
			img
				display: inline-block
				vertical-align: middle
			a
				font-size: 10px

				color: #666666
				&.active
					color: #000000
.inner-story.page-cat
	background: none
	box-shadow: none
	margin-bottom: 41px
.section--event.page-cat
	margin: 22px 0 27px

+mobile
	.inner-story.page-cat
		margin-bottom: 0
	.list-category
		padding-left: 16px
		padding-right: 16px
		.btn
			margin: 0 -16px
	.card-cat
		padding: 14px 0 13px
		border-bottom: 0
		+ .card-cat
			border-top: 1px solid #EFEFEF

		.img
			width: 75px
		.text
			flex: 1
			padding: 0 16px 0 16px
		.infor
			margin-top: 1px
			line-height: 9px
			font-family: 'Helvetica' , serif
			margin-bottom: 13px
			span
				margin: 0 5px
		.ttl-cat
			font-size: 16px
			line-height: 16px
			font-family: 'Times New Roman', serif
			margin-bottom: 0
		.sumary
			display: none