
.line-detail
	margin: 45px 0 36px
	text-transform: uppercase
	.author
		font-size: 11px
		color: #ffffff
		display: inline-block
		padding: 6px 18px
		background: #000000
	.tag,.span
		font-size: 11px
	span
		margin-right: 18px
.ttl-detail
	font-size: 44px
	letter-spacing: 1.17px
	line-height: 47px
	margin-bottom: 19px
.sumary-detail
	font-size: 20px
	line-height: 24px
	color: #333333
	margin-bottom: 52px
.image-detail
	img
		margin-bottom: 11px
	.caption
		font-size: 11px
		line-height: 13px
		letter-spacing: 0.495px
		text-transform: uppercase


.top-detail
	margin-bottom: 20px
.col-left-detail
	width: 62.447%
	p
		font-size: 18px
		line-height: 30px
		letter-spacing: 0.108px
		color: #1A1A1A
		margin-bottom: 44px
	h3
		font-size: 28px
		line-height: 28px
		color: #1A1A1A
		margin-bottom: 42px
	img
		margin-bottom: 51px
.list-other-item
	padding: 0 0 0 31px
	li
		margin-bottom: 35px
		a
			font-weight: bold
			font-size: 24px
			line-height: 27px
			color: #185F7D
			position: relative
			&:after
				content: ""
				position: absolute
				width: 8px
				height: 7px
				background: #299BCB
				top: 15px
				left: -33px
.section-detail
	margin-bottom: 17px
.list-card-other.list-four-item
	margin-bottom: 98px
	.card-other
		width: 23.071%
		margin-right: 2.5%
		margin-bottom: 25px
		&:nth-child(4n)
			margin-right: 0
		.thumb
			margin-bottom: 17px
		.box-tag
			display: none
		.ttl-card
			font-size: 24px
			line-height: 29px
			letter-spacing: 0.336px
			font-family: 'Helvetica' , serif
+mobile
	.line-detail
		margin: 40px 0 16px
		.author
			display: none
		span
			margin-right: 18px
	.ttl-detail
		font-size: 36px
		letter-spacing: 0.9px
		line-height: 36px
		margin-bottom: 19px
	.sumary-detail
		font-size: 20px
		line-height: 24px
		margin-bottom: 45px
		letter-spacing: 0.12px
	.image-detail
		margin: 0 -20px
		img
			margin-bottom: 11px
			width: 100%
		.caption
			padding: 0 20px
			font-size: 11px
			line-height: 13px
			letter-spacing: 0.495px
			text-transform: uppercase
	.top-detail
		margin-bottom: 20px
	.col-left-detail
		width: 100%
		p
			margin-bottom: 44px
		h3
			margin-bottom: 28px
		img
			margin-bottom: 51px
	.list-other-item
		padding: 0 0 0 31px
		li
			margin-bottom: 11px
			a
				font-size: 18px
				line-height: 20px
				&:after
					width: 6px
					height: 6px
					top: 10px
					left: -13px
	.section-detail
		margin-bottom: 17px
	.list-card-other.list-four-item
		margin-bottom: 10px
		.card-other
			width: 100%
			margin-right: 0
			margin-bottom: 0

			.thumb
				margin-bottom: 0
			.box-tag
				display: block
			.ttl-card
				font-size: 14px
				line-height: 16px
				letter-spacing: 0
+mobile-xs
	.top-detail
		padding: 0 10px
	.image-detail
		margin: 0 -10px
		.caption
			padding: 0 10px
	.content-detail
		padding: 0 10px