.content-detail
    max-width: 1190px
    width: 100%
    padding: 0 20px
    margin: 0 auto
.section-inforgraphic
    margin-top: 26px
    .banner
        margin-bottom: 10px
        img
            width: 100%
            display: block
    .top-inforgraphic
        padding: 90px 36px 32px
    .sumary
        p
            font-size: 18px
            line-height: 30px
            letter-spacing: 0.108px
            color: #1A1A1A
    .graphic
        width: 100%
        display: block
        margin-bottom: 91px
.col-left-inforgraphic
    width: 58.799%
.card-other
    width: 47.995%
    margin-bottom: 63px
    .thumb
        margin-bottom: 20px
        img
            display: block
    .text
        .box-tag
            display: none
            a
                font-size: 11px
                color: #666666
                text-transform: uppercase
        .ttl-card
            font-size: 24px
            line-height: 29px
            font-family: 'Times New Roman', serif
            margin-bottom: 12px
        .author
            font-size: 11px
            line-height: 13px
            text-transform: uppercase
+mobile
    .section-inforgraphic
        margin-top: 26px
        .banner
            margin-bottom: 10px
            img
                width: 100%
                display: block
        .top-inforgraphic
            padding: 15px 18px 22px
        .ttl-inforgraphic
            font-size: 36px
            line-height: 36px
            letter-spacing: 0.9px
            font-family: 'Times New Roman', serif
            margin-bottom: 10px
        .sumary
            margin-bottom: 13px
            p
                font-size: 20px
                line-height: 24px
                letter-spacing: 0.12px
                color: #1A1A1A
        .bot-inforgraphic
            span
                font-size: 11px
                line-height: 13px
                letter-spacing: 0.495px
                text-transform: uppercase
                margin-right: 19px
        .graphic

            margin-bottom: 20px
    .col-left-inforgraphic
        width: 100%
    .list-card-other
        padding-left: 16px
        padding-right: 16px
        background: #FFFFFF
        box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12)
        border-radius: 1px
        border-top: 3px solid #000000
        .btn
            margin: 0 -16px
            width: 100%
    .card-other
        width: 100%
        margin-bottom: 0
        +display-flex
        padding: 14px 0 13px
        + .card-other
            border-top: 1px solid #cccccc
        .thumb
            margin-bottom: 0
            img

                width: 75px
        .text
            flex: 1
            padding: 0 16px 0 16px
            .box-tag
                display: block
                margin: -5px 0 9px 0
                a
                    font-size: 11px
                    color: #666666
                    text-transform: uppercase
            .ttl-card
                font-size: 14px
                line-height: 16px
                font-family: 'Helvetica' , serif
                margin-bottom: 0
            .author
                display: none
+mobile-xs
    .list-card-other
        padding-left: 10px
        padding-right: 10px
    .list-card-other .btn
        margin: 0 -10px