@charset "utf-8"

// event
.block-event
	padding: 19px 0 16px
.list-event
	text-align: center
	li
		display: inline-block
		margin: 0 17px
		a
			font-family: 'Helvetica' , serif
			color: #666666
			font-size: 12px
			line-height: 19px
// banner
.block-vin
	img
		display: block
		margin: 0 auto
.section--story
	padding: 33px 0 18px
//layout
.col-left
	width: 66.095%
.col-right
	width: 32.19%
//card
.ttl-story
	font-size: 32px
	line-height: 34px
	border-top: 10px solid #000
	font-family: 'Arial', sans-serif
	padding: 23px 15px 19px
	border-bottom: 1px solid #cccccc
	font-weight: normal
	&.page-search
		border: 0
		padding: 0 15px 17px 0
.card-item
	border-top: 3px solid #000000
	padding: 19px 16px 15px
	background: #ffffff
	box-shadow: -1px 0 2px rgba(0, 0, 0, 0.12)
	border-radius: 1px
	margin-bottom: 13px
	.thumb
		display: block
		width: 100%
		margin-bottom: 14px
		img
			width: 100%
	.box-tag
		margin-bottom: 1px
		.tag
			font-size: 11px
			line-height: 13px
			font-family: 'Arial', sans-serif
			text-transform: uppercase
			color: rgba(0, 0, 0, 0.6)
	.ttl-card
		font-family: 'Times New Roman', serif
		font-size: 21px
		line-height: 23px
		color: #000000
		margin-bottom: 3px
	.author
		font-size: 9px
		line-height: 13px
		font-family: 'Arial', sans-serif
		text-transform: uppercase
		color: rgba(0, 0, 0, 0.6)

	&.card-02
		.box-tag
			margin-bottom: 0
			.tag
				font-size: 10px
		.ttl-card
			font-size: 18px
			line-height: 20px
			margin-bottom: 1px
		.author
			font-size: 10px
	&.card-04
		&.card-horizontal
			.text
				padding-right: 21px
			.box-tag
				margin-bottom: 13px
				margin-top: -2px
			.ttl-card
				font-size: 24px
				line-height: 26px
				margin-bottom: 5px
	&.card-05
		.thumb
			display: none
		.box-tag
			margin-bottom: 4px
			margin-top: -2px
		.ttl-card
			font-size: 38px
			line-height: 38px
			margin-bottom: 5px
		.author
			font-size: 10px
	&.card-06

		.box-tag
			margin-bottom: 1px
			.tag
				font-size: 9px
		.ttl-card
			font-size: 21px
			line-height: 23px
			margin-bottom: 2px
		.author
			font-size: 10px
	&.card-06
		&.card-horizontal
			padding-bottom: 16px
			&.card-reverse
				img
					order: 1
					flex: 1
				.text
					order: 2
					padding: 0 0 0 16px
					width: 34.418%
			.box-tag
				margin-bottom: 9px
				margin-top: -2px
				.tag
					font-size: 9px
			.ttl-card
				font-size: 24px
				line-height: 26px
				margin-bottom: 3px
			.author
				font-size: 11px
	&.card-07
		&.card-horizontal
			padding-bottom: 16px
			&.card-reverse
				.thumb
					order: 1
					flex: 1
				.text
					order: 2
					padding: 0 0 0 16px
					width: 33.334%
			.box-tag
				margin-bottom: 8px
				margin-top: -2px

			.ttl-card
				font-size: 38px
				line-height: 40px
				letter-spacing: 0.5px
				font-family: 'Arial', sans-serif
				margin-bottom: 9px
			.author
				font-size: 11px
	&.card-08
		&.card-horizontal
			padding-bottom: 16px
			.thumb
				flex: 1
			.text

				padding: 0 22px 0 0
				width: 34.418%
			.box-tag
				margin-bottom: 13px
				margin-top: -2px

			.ttl-card
				font-size: 24px
				line-height: 26px
				margin-bottom: 9px
			.author
				font-size: 11px
	&.card-horizontal
		padding-bottom: 17px
		&.card-reverse
			.thumb
				order: 1
			.text
				order: 2
				padding: 0 0 0 16px
		.thumb
			order: 2
			margin-bottom: 0
			flex: 1
		.text
			order: 1
			padding-right: 16px
			width: 143px
		.box-tag
			margin-bottom: 1px
			margin-top: -2px
			.tag
				font-size: 10px
		.ttl-card
			font-size: 16px
			line-height: 18px
			margin-bottom: 5px
		.author
			font-size: 10px
.card-01
	width: 65.747%
.card-02
	width: 31.656%
.col-left-small
	width: 48.703%
.card-04
	width: 66.095%
.card-08
	width: 66.095%
.card-05,.card-06
	width: 48.703%
.card-full
	width: 100%

// block diamond
.block-diamond
	padding-top: 3px
	&.p-t-0
		padding-top: 0
	img
		display: block
	margin-bottom: 6px
// block read
.section--item-new

.block-read
	box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12)
	background: #ffffff
	margin-bottom: 12px
.ttl-sidebar
	font-size: 32px
	line-height: 34px
	font-family: 'Arial', sans-serif
	border-top: 10px solid #000
	padding: 24px 0 19px 16px
	border-bottom: 1px solid #cccccc
.list-read
	padding: 0 16px
	li
		border-bottom: 1px solid #EFEFEF
	&.list-no-tag

		.card-read
			padding-bottom: 10px
			padding-top: 9px
			.box-tag
				display: none
			.ttl-card
				font-family: 'Times New Roman', serif
				margin-top: 9px
				margin-bottom: 12px
	&.full-first-item
		.card-read
			&:first-child
				padding-bottom: 13px
				display: block
				.img
					display: block
					width: 100%
					img
						width: 100%
				.text
					padding: 0
					.ttl-card
						font-size: 17px
						line-height: 20px
						margin: 14px 0 0
.section--box
	margin-bottom: 14px
.card-read
	padding: 8px 0px 14px
	font-family: 'Arial', sans-serif
	img
		width: 75px
		margin-top: 8px
	.text
		flex: 1
		padding-left: 16px
	.box-tag
		margin-top: 0
		.tag
			font-size: 9px
			line-height: 9px
			text-transform: uppercase
			color: #666666
	.ttl-card
		font-size: 14px
		line-height: 16px

	.author
		font-size: 10px
		text-transform: uppercase
		line-height: 13px
		color: rgba(0, 0, 0, 0.6)



//.section--item-new
.section--bottom
	margin-bottom: 62px
.block-bottom
	border-top: 10px solid #000000
	padding-top: 10px

.section--item-new
	.card-reverse
		.col-left
			order: 2
		.col-right
			order: 1
.btn-readmore
	border-top: 1px solid #cccccc
	background: url(../img/icon-01.png) no-repeat left 16px center
	font-size: 11px
	padding: 23px 20px 24px 57px
	display: block
	text-transform: uppercase
.block-youtube
	.ttl-yt
		font-size: 25px
		line-height: 30px
		font-family: 'Arial', sans-serif
		text-transform: uppercase
		margin-bottom: 33px
.inner-youtube
	.btn-readmore
		flex: 1
		border: 0
		margin: -8px 0 0 0
		background: url(../img/icon-01.png) no-repeat left 9px center
		padding: 23px 20px 24px 48px
	.img
		width: 180px
+desktop

+mobile
	.block-event
		padding: 0 0 16px
		box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12)
	.block-vin
		padding: 16px 18px 0
		*
			width: 100%
	.section--story


	.col-left,.card-01,.card-02,.card-04,.card-05,.card-06,.card-08,.col-left-small,.col-right
		width: 100%
	.ttl-story
		font-size: 30px
		line-height: 34px
		border-top: 10px solid #000
		font-family: 'Arial', sans-serif
		padding: 14px 15px 11px
		border-bottom: 1px solid #cccccc
		font-weight: normal
	.section--story
		padding: 8px 0 18px
		.inner-story
			box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.12)
			background: #ffffff

	//card
	.card-item
		border-top: 0
		padding: 12px 16px 3px!important
		box-shadow: none
		border-radius: 0
		margin-bottom: 0
		&.no-border
			.text
				border: 0!important

		&.card-05
			.thumb
				display: block


		.thumb
			margin-bottom: 9px!important
			a
				display: block

		.text
			border-bottom: 1px solid #cccccc
			padding: 0 0 7px 0!important
			width: 100%!important
		.box-tag
			margin-bottom: 5px!important
			.tag
				font-family: 'Helvetica' , serif !important
				font-size: 11px!important

		.ttl-card

			font-size: 20px!important
			line-height: 23px!important
			margin-bottom: 3px!important
		.author
			display: none
	// section--event
	.block-diamond
		margin-bottom: 16px
		img
			margin: 0 auto
	.section--event
		.ttl-story
			border-bottom: 0
			padding-bottom: 1px
		.block-event
			background: #ffffff
			padding-bottom: 0
			margin-bottom: 14px
			.list-event
				li
					text-align: left
					display: block
					margin: 0
					padding: 16px 19px 13px
					+ li
						border-top: 1px solid #cccccc
					a
						display: block
						font-size: 16px
						line-height: 19px
						color: #666666
						font-family: 'Helvetica' , serif!important
	.section--box
		.list-read
			&.full-first-item
				.card-read

					padding: 9px 0 15px
					+ .card-read
						border-top: 1px solid #cccccc
					img
						width: 90px
					&:first-child
						padding: 15px 0 9px
						.img
							img
								margin-top: 0
								width: 100%
						.text
							padding: 0
							.ttl-card
								margin: 21px 0 0
					.text
						padding-left: 18px
						.box-author
							display: none
		&.list-no-tag-md
			.card-read
				padding-bottom: 15px
				padding-top: 9px
				.box-tag
					display: block
					margin: 3px 0 6px 0
					a
						font-size: 11px
				.ttl-card
					font-size: 14px
					line-height: 16px
				.box-author
					display: none


+mobile-xs
	.block-vin
		padding-left: 10px
		padding-right: 10px
	.ttl-story
		padding-left: 10px
		padding-right: 10px
	.list-read
		padding: 0 10px
	.section--event .block-event .list-event li,.card-item
		padding-left: 10px
		padding-right: 10px
	.card-item
		padding-left: 10px!important
		padding-right: 10px!important