@charset "utf-8"


/* COMMON FOOTER
 * -----------------------------------------------*/
.main-footer
    margin-top: 43px
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.19)
    background-color: #ffffff
.wrapper-footer
    width: 100%
    max-width: 1218px
    margin: 0 auto
.top-footer
    padding: 14px 5px 0 23px
.list-icon
    text-align: right
    padding: 3px 0 0 0
    a
        margin-left: 12px
.bot-footer
    p
        font-size: 16px
        line-height: 18px
        font-family: 'Arial', sans-serif

.bot-footer
    padding: 17px 36px 40px
    .address
        width: 336px
+mobile

    .top-footer
        padding: 0
    .main-footer
        margin-top: 50px
        box-shadow: none
        background-color: #F6F6F6
        .logo-ft
            img
                width: 291px
                margin: 0 auto
                display: block
        .list-icon
            text-align: center
            margin-top: 12px
            a
                margin: 0 7px
                img
                    width: 55px
    .bot-footer
        padding: 28px 28px 40px
        .address
            width: 100%
        p
            font-size: 14px
            text-align: center
            font-family: 'Helvetica' , serif
            color: rgba(0, 0, 0, 0.6)
    .inforgraphic
        .main-footer
            background: none
+mobile-xs
    .bot-footer
        padding-left: 10px
        padding-right: 10px