@charset "utf-8"
.main-header
	padding: 14px 0 4px
	background: #ffffff

.logo
	display: block
	margin: 0 auto
	max-width: 373px
	a,span
		display: block


.main-header.sub-page
	padding: 16px 0 6px 35px
	background: none
	margin: 0 auto
	.inner
		width: 100%
		max-width: 1263px
	.logo
		margin: 0 26px 0 0
		width: 159px
	.navigation-sub
		margin: 4px 0 0 0
		&.active
			ul
				li
					ul
						display: block
		ul
			li
				min-width: 120px
				&:first-child
					a
						border-left: 1px solid #cccccc

				a
					font-size: 10px
					font-family: 'Lato', sans-serif
					letter-spacing: 0.88px
					text-transform: uppercase
					border-right: 1px solid #cccccc
					display: block
					padding: 8px 19px
				ul
					display: none
					li
						a
							border: 0!important
	.btn-menu-sub
		display: block
		padding: 10px 8px
		width: 32px
		margin: 2px 0 0 15px
		cursor: pointer
		span
			width: 16px
			height: 2px
			background: #000000
			display: block
			+ span
				margin-top: 3px

+mobile
	.main-header
		padding: 4px 0 4px
		background: #ffffff
		position: relative
		border-bottom: 1px solid #cccccc
	.logo

		width: 133px

	.main-header.sub-page
		padding: 4px 0
		background: none
		position: relative
		.logo
			margin: 0 auto
			width: 133px
		.navigation-sub
			margin: 0
			position: absolute
			width: 100%
			top: 45px
			left: 0
			background: #f6f6f6
			padding: 16px 20px 25px 41px
			opacity: 0
			visibility: hidden
			+transition(all .26s ease)
			+display-flex
			-ms-flex-wrap: wrap
			flex-wrap: wrap
			-ms-flex-pack: end
			justify-content: flex-end
			&.active
				top: 41px
				opacity: 1
				visibility: visible
			.box-search
				order: 0
				margin-bottom: 8px
			ul
				display: block
				width: 100%
				li
					min-width: 120px
					width: 100%
					display: block
					+ li
						margin-top: 19px
					&:first-child
						a
							border-left: 0

					a
						font-size: 15px
						font-weight: 700
						border: 0
						padding: 0
					ul
						display: block
						padding: 12px 0 0 1px
						li
							+ li
								margin-top: 21px
							a
								font-size: 10px
								display: block
								font-weight: 400

		.btn-menu-sub
			position: absolute
			top: 4px
			left: 0
			margin: 0