@charset "utf-8"
.navigation
	&.active
		ul
			li
				ul
					display: block
	ul
		li
			display: inline-block
			vertical-align: top
			position: relative
			width: 90px
			text-align: center
			&:first-child
				width: 32px
			ul
				padding-bottom: 20px
				display: none

				li
					margin: 15px 0 0 0
					display: block
					width: auto
					&:first-child
						width: auto
					a
						white-space: nowrap

			+ li
				margin-left: 30px
				margin-top: 5px
			a
				font-family: 'Lato', sans-serif
				font-size: 10px
				letter-spacing: 0.88px
				text-transform: uppercase
				&.nav__home
					display: block
					padding: 10px 8px
					width: 32px
					span
						width: 16px
						height: 2px
						background: #000000
						display: block
						+ span
							margin-top: 3px
	&--sub
		display: none
		&.active
			display: block
.box-search
	position: relative
	display: flex
	border: 1px solid #c1c1c1
	border-radius: 30px
	width: 163px
	overflow: hidden
	margin-top: 7px
	button
		cursor: pointer
		height: 17px
		-webkit-appearance: none
		-moz-appearance: none
		-ms-appearance: none
		-o-appearance: none
		appearance: none
		border-radius: 0
		background: url(../img/icon-03.png) no-repeat left center
		flex: 1
	input
		width: 135px
		-webkit-appearance: none
		-moz-appearance: none
		-ms-appearance: none
		-o-appearance: none
		appearance: none
		font-size: 12px
		background: #ffffff
		border-radius: 0
		font-family: 'Lato', sans-serif
		padding: 0 10px
.btn-menu-sm
	display: none
+mobile
	.btn-menu-sm
		display: block
		padding: 10px 8px
		width: 32px
		position: absolute
		top: 4px
		left: 0
		span
			width: 16px
			height: 2px
			background: #000000
			display: block
			+ span
				margin-top: 3px
	.box-search
		margin-top: 0
		button
			height: 29px
		input
			height: 29px
			background: #f6f6f6
			padding: 0 16px

	.top-navigation
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		position: absolute
		width: 100%
		top: 45px
		left: 0
		background: #f6f6f6
		padding: 17px 20px
		-ms-flex-pack: end
		justify-content: flex-end
		opacity: 0
		visibility: hidden
		+transition(all .26s ease)
		&.active
			opacity: 1
			visibility: visible
			top: 41px
	.box-search
		order: 1
	.navigation
		width: 100%
		order: 2
		padding: 8px 21px
		ul
			> li
				&:first-child
					display: none

			li
				display: block
				margin: 0 0 19px 0!important
				width: 100%
				text-align: left
				&:last-child
					margin-bottom: 0!important
				ul
					display: block
					padding: 12px 0 0 1px
					li
						margin: 0 0 21px 0!important

						&:last-child
							margin-bottom: 0!important
						&:first-child
							display: block
							width: auto
							margin: 0
							a
						a
							font-size: 10px
							display: block
							font-weight: 400
				+ li
					width: 100%
					margin: 0
				a
					font-size: 15px
					font-weight: 700


