extends _layouts/default

block vars
	-title        = ''
	-description  = ''
	-keywords     = ''
	-pageID       = 'categeory'
	-path         = '.'

block container
	| &#x9;
	.block-event.md
		.wrapper
			ul.list-event
				li
					a(href="#") Mâu thuẫn giữa Coteccons và Kusto
				li
					a(href="#") Hàng không Việt hậu Covid-19
				li
					a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

	section.section--story
		.wrapper
			.inner-story.page-cat

				.display-flex.justify-content-between.display-block-sm
					.col-left.page-cat
						h2.ttl-story TRENDING
						.display-flex.justify-content-between.display-block-sm
							.card-item.card-01
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-01.jpg", alt="Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc")
								.text
									.box-tag
										a.tag(href="#") Công nghệ
									h3.ttl-card
										a(href="#") Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc
									span.author HOÀI ĐIỆP
							.card-item.card-02
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-02.jpg", alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?")
								.text
									.box-tag
										a.tag(href="#") NHÂN SỰ
									h3.ttl-card Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?
									.box-author
										span.author khởi vũ
						.display-flex.justify-content-between.display-block-sm
							.col-left-small
								.card-item.card-horizontal.card-full.display-flex.align-items-start.display-block-sm
									.thumb
										img(src=path+"/img/image-03.jpg", alt="Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố ...")
									.text
										.box-tag
											a.tag(href="#") trending
										h3.ttl-card
											a(href="#") Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố
										span.author NGỌC DIỆP
								.card-item.card-horizontal.card-full.display-flex.align-items-start.card-reverse.display-block-sm
									.thumb
										img(src=path+"/img/image-04.jpg", alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card Tuyên bố từ Fed hỗ trợ, giá vàng chốt tuần tăng mạnh
										.box-author
											span.author trung mến
							.card-item.card-05.no-border
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-02.jpg", alt="Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19")
								.text
									.box-tag
										a.tag(href="#") SỐNG
									h3.ttl-card Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19
									.box-author
										span.author lost bird

						.section--event.page-cat.sm
							.block-event
								h2.ttl-story.sm DÒNG SỰ KIỆN
								ul.list-event
									li
										a(href="#") Mâu thuẫn giữa Coteccons và Kusto
									li
										a(href="#") Hàng không Việt hậu Covid-19
									li
										a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV
							.block-diamond
								img(src=path+"/img/banner-diamond.jpg", alt="diamond")

						.list-category
							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.
							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") The Best Bike Accessories for Your Pandemic Summer
									.sumary
										p You got a bicycle! Here are our favorite items, from bells to helmets, to make your rides safer and more pleasant.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.
							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.
							.btn.sm
								a.trans.btn-readmore(href="#") xem thêm
							.pager-cat.md
								ul
									li.first-child
										a(href="#")
											img(src=path+"/img/icon-05.png", alt="icon")
									li
										a.active(href="#") 1
									li
										a(href="#") 2
									li
										a(href="#") 3
									li
										a(href="#") 4
									li
										span ...
									li
										a(href="#") 23101
									li.last-child
										a(href="#")
											img(src=path+"/img/icon-04.png", alt="icon")


					.col-right.md
						.block-diamond.p-t-0
							img(src=path+"/img/banner-diamond.jpg", alt="diamond")
						.block-read
							h2.ttl-sidebar Đọc Nhiều
							ul.list-read
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-08.jpg", alt="“Anh quyết tống cổ Huawei”")
									.text
										.box-tag
											a.tag(href="#") công nghệ
										h3.ttl-card
											a(href="#") ​“Anh quyết tống cổ Huawei”
										.box-author
											span.author phương nhi
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-09.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										.box-tag
											a.tag(href="#") sống
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
						.block-diamond
							img(src=path+"/img/banner-oto.jpg", alt="oto")
	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")