extends _layouts/default-infor

block vars
	-title        = ''
	-description  = ''
	-keywords     = ''
	-pageID       = 'inforgraphic'
	-path         = '.'

block container
	| &#x9;
	.block-event.md
		.wrapper
			ul.list-event
				li
					a(href="#") Mâu thuẫn giữa Coteccons và Kusto
				li
					a(href="#") Hàng không Việt hậu Covid-19
				li
					a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

	section.section-detail
		.content-detail.top-detail.ft-hel
			.line-detail
				span.author tùng linh
				span.tag công nghệ
				span.tag 22.06.2020 02:13 PM
			h2.ttl-detail Here’s Everything Apple Announced at WWDC
			p.sumary-detail The company’s annual developer conference, streaming online this year, has been rich with announcements. Here’s the latest news from the WWDC stage.
			.image-detail
				img(src=path+"/img/image-20.png", alt="Photograph: Brooks Kraft/Apple")
				p.caption Photograph: Brooks Kraft/Apple
		.wrapper
			.display-flex.justify-content-between

				.col-left-detail
					p In the announcement, which was kicked off by Tim Cook but then tossed to engineers in an “undisclosed location,” Cook highlighted three major milestones in Mac history: the move from PowerPC to Intel chips in 2006, Apple’s transition to MacOS X, and now, this one. ARM-based “Apple Silicon” chips will give Apple’s computers an efficiency bump, and the company will no longer rely on Intel’s update cycles to push its capabilities forward. Apple emphasized that it already has plenty of experience scaling low-power SoCs for iPhone and even the Apple Watch, which suggests that the battery life on Mac laptops may soon get a boost. And this move also brings Apple’s custom-designed neural engines to Macs, which is important for compute tasks that increasingly use machine learning.
					h3 New Macs Will Run on Apple-Made Chips
					p But as with the transition from PowerPC to Intel in 2006, there could be some bumps along the way. Apple says that developers will have everything they need to make apps that run on ARM-based Macs in the new version of Xcode, and that Xcode will continue to support apps for both Intel x86 Macs and Apple Silicon Macs. Still, developers who haven’t already built for iOS will have an adjustment period. And while they’re more than suitable for the average consumer, it’s an open question if ARM-based processors can keep up with the demands of Apple’s professional creative class. The move to Apple Silicon will start with new Macs released later this year, and the entire transition should take two years, Apple says.
					img(src=path+"/img/image-21.png", alt="image")
					h3 iOS 14 Will Make Your iPhone More Customizable
					p The latest version of Apple’s mobile operating system adds a new home screen. The new App Library view includes all downloaded apps automatically organized in folders, starting with Siri suggestions—based on your typical app use—and recently added apps. With this new feature making it easy to find whatever you’re looking for, you can now hide pages from view to get yourself even more streamlined. Widgets are also getting a new look, as well as the ability to be dragged from the widget panel to your home screen.
					img(src=path+"/img/image-21.png", alt="image")
					h3 Apple Is Reimagining Car Key Fobs
					p Car key fobs are the biggest, bulkiest, and ugliest item on your keychain. But within the next few years, we’ll all be able to unlock, start, and share car access with our iPhones. Apple’s car-experience engineering manager, Emily Schubert, demonstrated the iPhone’s newest car-unlocking features on the 2021 BMW 5 series. Just use the phone’s built-in NFC chip to tap to unlock your car, place your phone on the charging pad, and tap a button to start the car. You’ll also be able to quickly share your car keys in iMessage (with restricted options for teen drivers) and turn off your car key in iCloud. These features will be available next month on the BMW, but Apple is also enabling the features in both iOS 13 and 14. It’s also working with other car manufacturers to develop the features in other cars—hopefully not just the most expensive ones on the market.
					ul.list-other-item
						li
							a(href="#") Tin liên quan 1 có title là abc con bò ăn cỏ
						li
							a(href="#") Tin liên quan 1 có title là abc con bò ăn cỏ
						li
							a(href="#") Tin liên quan 1 có title là abc con bò ăn cỏ

				.col-right.md
					.block-diamond.p-t-0
						img(src=path+"/img/banner-diamond.jpg", alt="diamond")
					.block-read
						h2.ttl-sidebar Đọc Nhiều
						ul.list-read
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-08.jpg", alt="“Anh quyết tống cổ Huawei”")
								.text
									.box-tag
										a.tag(href="#") công nghệ
									h3.ttl-card
										a(href="#") ​“Anh quyết tống cổ Huawei”
									.box-author
										span.author phương nhi
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-09.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") sống
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
	section.section--event.sm
		.wrapper
			.block-event
				h2.ttl-story.sm DÒNG SỰ KIỆN
				ul.list-event
					li
						a(href="#") Mâu thuẫn giữa Coteccons và Kusto
					li
						a(href="#") Hàng không Việt hậu Covid-19
					li
						a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV
		.block-diamond
			img(src=path+"/img/banner-diamond.jpg", alt="diamond")
	section.section--other
		.content-detail
			.list-card-other.list-four-item.display-flex.flex-wrap

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") Apple's Intel Breakup Will Reshape Macs—and Beyond

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread


				.btn.sm
					a.trans.btn-readmore(href="#") đọc thêm

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")