extends _layouts/default

block vars
	-title        = ''
	-description  = ''
	-keywords     = ''
	-pageID       = 'top'
	-path         = '.'

block container
	| &#x9;
	.block-event.md
		.wrapper
			ul.list-event
				li
					a(href="#") Mâu thuẫn giữa Coteccons và Kusto
				li
					a(href="#") Hàng không Việt hậu Covid-19
				li
					a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

	section.section--story
		.wrapper
			.inner-story
				h2.ttl-story.sm Top Story
				.display-flex.justify-content-between
					.col-left
						.display-flex.justify-content-between.display-block-sm
							.card-item.card-01
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-01.jpg", alt="Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc")
								.text
									.box-tag
										a.tag(href="#") Công nghệ
									h3.ttl-card
										a(href="#") Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc
									span.author HOÀI ĐIỆP
							.card-item.card-02
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-02.jpg", alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?")
								.text
									.box-tag
										a.tag(href="#") NHÂN SỰ
									h3.ttl-card Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?
									.box-author
										span.author khởi vũ
						.display-flex.justify-content-between.display-block-sm
							.col-left-small
								.card-item.card-horizontal.card-full.display-flex.align-items-start.display-block-sm
									.thumb
										img(src=path+"/img/image-03.jpg", alt="Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố ...")
									.text
										.box-tag
											a.tag(href="#") trending
										h3.ttl-card
											a(href="#") Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố
										span.author NGỌC DIỆP
								.card-item.card-horizontal.card-full.display-flex.align-items-start.card-reverse.display-block-sm
									.thumb
										img(src=path+"/img/image-04.jpg", alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card Tuyên bố từ Fed hỗ trợ, giá vàng chốt tuần tăng mạnh
										.box-author
											span.author trung mến
							.card-item.card-05
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-02.jpg", alt="Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19")
								.text
									.box-tag
										a.tag(href="#") SỐNG
									h3.ttl-card Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19
									.box-author
										span.author lost bird
						.card-item.card-06.card-full.card-horizontal.display-flex.align-items-start.card-reverse.display-block-sm
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-06.jpg", alt="Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card Kem Tràng Tiền thay áo vintage cho bao bì
									.box-author
										span.author lost bird
					.col-right.md
						.block-diamond
							img(src=path+"/img/banner-diamond.jpg", alt="diamond")
						.block-read
							h2.ttl-sidebar Đọc Nhiều
							ul.list-read
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-08.jpg", alt="“Anh quyết tống cổ Huawei”")
									.text
										.box-tag
											a.tag(href="#") công nghệ
										h3.ttl-card
											a(href="#") ​“Anh quyết tống cổ Huawei”
										.box-author
											span.author phương nhi
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-09.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										.box-tag
											a.tag(href="#") sống
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
				.card-item.card-07.card-full.card-horizontal.display-flex.align-items-start.card-reverse.display-block-sm.no-border
					.thumb
						img(src=path+"/img/image-10.jpg", alt="Từng bị đuổi việc nhiều lần, “cá mập” Mỹ thành tỷ phú như thế nào?")
					.text
						.box-tag
							a.tag(href="#") nhân vật
						h3.ttl-card Từng bị đuổi việc nhiều lần, “cá mập” Mỹ thành tỷ phú như thế nào?
						.box-author
							span.author nguyễn duy

	section.section--event.sm
		.wrapper
			.block-event
				h2.ttl-story.sm DÒNG SỰ KIỆN
				ul.list-event
					li
						a(href="#") Mâu thuẫn giữa Coteccons và Kusto
					li
						a(href="#") Hàng không Việt hậu Covid-19
					li
						a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV
		.block-diamond
			img(src=path+"/img/banner-diamond.jpg", alt="diamond")

	section.section--item-new
		.wrapper
			.display-flex.justify-content-between.card-reverse.display-block-sm
				.col-left
					.display-flex.justify-content-between.display-block-sm.md
						.card-item.card-02
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-02.jpg", alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?")
							.text
								.box-tag
									a.tag(href="#") NHÂN SỰ
								h3.ttl-card Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?
								.box-author
									span.author khởi vũ
						.card-item.card-01
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-01.jpg", alt="Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc")
							.text
								.box-tag
									a.tag(href="#") Công nghệ
								h3.ttl-card
									a(href="#") Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc
								span.author HOÀI ĐIỆP

					.display-flex.justify-content-between.display-block-sm.md
						.card-item.card-06
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-13.jpg", alt="Nội thất của toa tàu hạng thương gia hành trình Đà Nẵng - Quy Nhơn")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card Nội thất của toa tàu hạng thương gia hành trình Đà Nẵng - Quy Nhơn
								.box-author
									span.author lost bird
						.col-left-small
							.card-item.card-horizontal.card-full.display-flex.align-items-start.display-block-sm
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-03.jpg", alt="Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố ...")
								.text
									.box-tag
										a.tag(href="#") trending
									h3.ttl-card
										a(href="#") Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố
									span.author NGỌC DIỆP
							.card-item.card-horizontal.card-full.display-flex.align-items-start.card-reverse.display-block-sm
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-04.jpg", alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card Tuyên bố từ Fed hỗ trợ, giá vàng chốt tuần tăng mạnh
									.box-author
										span.author trung mến
				.col-right
					.block-read
						h2.ttl-sidebar Mới Nhất
						ul.list-read.list-no-tag-md
							li.card-read.display-flex.align-items-start
								.img
									a(href="#")
										img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="#")
										img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="#")
										img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="#")
										img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="#")
										img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
						.btn
							a.trans.btn-readmore(href="#") đọc thêm
			.display-flex.justify-content-between.display-block-sm.md
				.card-item.card-08.card-horizontal.display-flex.align-items-start.display-block-sm
					.thumb
						img(src=path+"/img/image-12.jpg", alt="[Ảnh] Những địa điểm nổi tiếng trên thế giới như 'thành phố ma' sau Covid-19")
					.text
						.box-tag
							a.tag(href="#") sống
						h3.ttl-card [Ảnh] Những địa điểm nổi tiếng trên thế giới như 'thành phố ma' sau Covid-19
						.box-author
							span.author lost bird
				.block-diamond.p-t-0
					img(src=path+"/img/banner-diamond.jpg", alt="diamond")
			.card-item.card-07.card-full.card-horizontal.display-flex.align-items-start.card-reverse.no-border.md
				.thumb
					img(src=path+"/img/image-10.jpg", alt="Từng bị đuổi việc nhiều lần, “cá mập” Mỹ thành tỷ phú như thế nào?")
				.text
					.box-tag
						a.tag(href="#") nhân vật
					h3.ttl-card Từng bị đuổi việc nhiều lần, “cá mập” Mỹ thành tỷ phú như thế nào?
					.box-author
						span.author nguyễn duy

	section.section--box
		.wrapper
			.display-flex.justify-content-between.display-block-sm
				.col-left.display-flex.justify-content-between.flex-wrap
					.col-left-small
						.block-read
							h2.ttl-sidebar Trending
							ul.list-read.list-no-tag.full-first-item
								li.card-read
									.img
										a(href="#")
											img(src=path+"/img/image-14.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Làm rõ nguồn gốc và chủ nhân lô hàng giá trị lớn tại Sân bay Nội...
										.box-author
											span.author H.Hà
								li.card-read.display-flex.align-items-start
									.img
										a(href="#")
											img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
								li.card-read.display-flex.align-items-start
									.img
										a(href="#")
											img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
							.btn
								a.trans.btn-readmore(href="#") đọc thêm
					.col-left-small
						.block-read
							h2.ttl-sidebar Kinh doanh
							ul.list-read.list-no-tag.full-first-item
								li.card-read.display-flex.align-items-start
									.img
										a(href="#")
											img(src=path+"/img/image-14.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
								li.card-read.display-flex.align-items-start
									.img
										a(href="#")
											img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
								li.card-read.display-flex.align-items-start
									.img
										a(href="#")
											img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
							.btn
								a.trans.btn-readmore(href="#") đọc thêm
					.col-left-small
						.block-read
								h2.ttl-sidebar Công nghệ
								ul.list-read.list-no-tag.full-first-item
									li.card-read
										.img
											a(href="#")
												img(src=path+"/img/image-14.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
										.text
											h3.ttl-card
												a(href="#") Làm rõ nguồn gốc và chủ nhân lô hàng giá trị lớn tại Sân bay Nội...
											.box-author
												span.author H.Hà
									li.card-read.display-flex.align-items-start
										.img
											a(href="#")
												img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
										.text
											h3.ttl-card
												a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
											.box-author
												span.author mai thụy
									li.card-read.display-flex.align-items-start
										.img
											a(href="#")
												img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
										.text
											h3.ttl-card
												a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
											.box-author
												span.author mai thụy
								.btn
									a.trans.btn-readmore(href="#") đọc thêm
					.col-left-small
						.block-read
							h2.ttl-sidebar Sống
							ul.list-read.list-no-tag.full-first-item
								li.card-read.display-flex.align-items-start
									.img
										a(href="#")
											img(src=path+"/img/image-14.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
								li.card-read.display-flex.align-items-start
									.img
										a(href="#")
											img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
								li.card-read.display-flex.align-items-start
									.img
										a(href="#")
											img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
							.btn
								a.trans.btn-readmore(href="#") đọc thêm


				.col-right
					.block-diamond.p-t-0
						img(src=path+"/img/banner-diamond.jpg", alt="diamond")
					.block-read
						h2.ttl-sidebar Nhân lực
						ul.list-read.list-no-tag.full-first-item
							li.card-read.display-flex.align-items-start
								.img
									a(href="#")
										img(src=path+"/img/image-14.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="#")
										img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="#")
										img(src=path+"/img/image-11.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
						.btn
							a.trans.btn-readmore(href="#") đọc thêm
					.block-diamond.p-t-0
						img(src=path+"/img/banner-diamond.jpg", alt="diamond")

	section.section--bottom.md
		.wrapper
			.block-bottom.display-flex.justify-content-between
				.col-right
					.block-diamond.p-t-0
						img(src=path+"/img/banner-diamond.jpg", alt="diamond")
				.col-right
					img(src=path+"/img/image-15.jpg", alt="social")
				.col-right
					.block-youtube
						h3.ttl-yt
							| Follow  us
							br
							| on Youtube
						.inner-youtube.display-flex.align-items-center
							a.trans.btn-readmore(href="#") Follow
							.img
								img(src=path+"/img/icon-02.png", alt="youtube")

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")