extends _layouts/default-infor

block vars
	-title        = ''
	-description  = ''
	-keywords     = ''
	-pageID       = 'inforgraphic'
	-path         = '.'

block container
	| &#x9;
	.block-event.md
		.wrapper
			ul.list-event
				li
					a(href="#") Mâu thuẫn giữa Coteccons và Kusto
				li
					a(href="#") Hàng không Việt hậu Covid-19
				li
					a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

	section.section-inforgraphic
		.banner
			img(src=path+"/img/bg01.jpg", alt="img")
		.content-detail
			.top-inforgraphic
				h2.ttl-inforgraphic.sm Qualcomm’s New Smartwatch Chips
				.sumary
					p The two obvious candidates were culture and technology. On the cultural account, the comparative success of the South Koreans, Taiwanese, and Singaporeans was understood to be an artifact of national—or even supranational—character, some signature constellation of attributes. As
				.bot-inforgraphic.sm
					span GeaR
					span 06.30.2020 11:00 AM
			img.graphic(src=path+"/img/graphic.jpg", alt="graphic")
	section.section--event.sm
		.wrapper
			.block-event
				h2.ttl-story.sm DÒNG SỰ KIỆN
				ul.list-event
					li
						a(href="#") Mâu thuẫn giữa Coteccons và Kusto
					li
						a(href="#") Hàng không Việt hậu Covid-19
					li
						a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV
		.block-diamond
			img(src=path+"/img/banner-diamond.jpg", alt="diamond")
	section.section--other
		.wrapper
			.display-flex.justify-content-between
				.col-left-inforgraphic
					.list-card-other.display-flex.justify-content-between.flex-wrap
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.btn.sm
							a.trans.btn-readmore(href="#") đọc thêm

				.col-right.md
					.block-diamond.p-t-0
						img(src=path+"/img/banner-diamond.jpg", alt="diamond")
					.block-read
						h2.ttl-sidebar Đọc Nhiều
						ul.list-read
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-08.jpg", alt="“Anh quyết tống cổ Huawei”")
								.text
									.box-tag
										a.tag(href="#") công nghệ
									h3.ttl-card
										a(href="#") ​“Anh quyết tống cổ Huawei”
									.box-author
										span.author phương nhi
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-09.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") sống
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")