@charset "utf-8"

//- Variables

$btn-color:                         #fff
$btn-bg:                            #6fbbf7
$btn-border:                        1px solid $btn-bg
$btn-radius:                        10px
$btn-font-weight:                   700

//- ----------------------------------

.btn
  cursor:             pointer
  display:            inline-block
  font:
    weight:           400
  line-height:        1.5
  text:
    align:            center
    decoration:       none
  vertical-align:     middle
  +user-select(none)
  +transition(opacity $speed ease-in-out, color $speed ease-in-out, background-color $speed ease-in-out, border-color $speed ease-in-out, box-shadow $speed ease-in-out)
  &.is-block
    width: 100%

  &-basic
    background-color: #dadbda
    border-color: #000
    border-radius: 99.9rem

    border: .2rem solid #000

  &-primary
    text-align: left
    background:
      color: #e6e6e6
      position: right 1.6rem center
      repeat: no-repeat
      image: url('../img/common/icon_btn_01.png')

  &-secondary
    position: relative
    text-align: left
    background-color: #a6c5b0
    &:before, &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
    &:before
      z-index: 5
      height: 100%
      background-color: #16721a
    &:after
      z-index: 4
      width: 100%
      background-color: #9a9a9a

  &-tertiary
    background-color: #ff5b5b
    border: .1rem solid #f12424
    color: #fff

  &-quaternary
    background-color: #009534
    border: .2rem solid #007718
    color: #fff
    border-radius: .5rem
    &.is-gray
      background-color: #bababa
      border-color: #bababa
      color: #000

  &-submit
    color: #00e30b
    background:
      repeat: no-repeat
      position: center
      size: 100% 100%
      image: url('../img/common/bg_btn_submit.png')
    .icon
      display: block
      padding: .4em 0 .3em
      background:
        repeat: no-repeat
        position: left center
        image: url('../img/common/icon_btn_submit.png')

  +desktop

    &-basic
      font-size: 2.4rem
      padding: 1.6rem 4.8rem 1.4rem

    &-primary
      font-size: 3rem
      background-size: 8.9rem
      padding: 1.6rem 10rem 1.6rem 3.2rem
      width: 48rem
      border-radius: 1.6rem
      letter-spacing: -.05em

    &-secondary
      font-size: 3rem
      padding: .8rem 1.6rem .8rem 3.2rem
      width: 48rem
      &:before
        width: .5rem
      &:after
        height: .3rem

    &-tertiary
      font-size: 1.8rem
      padding: .2rem 4rem .1rem

    &-quaternary
      font-size: 2rem
      padding: .8rem 4.8rem
      &.is-padding
        padding: .8rem 4rem
      &.is-gray
        padding: 0.6rem 1.6rem 0.4rem

    &-submit
      font-size: 2rem
      padding: .8rem 3rem
      width: 38rem
      .icon
        background-size: 4rem
        padding-left: 4rem
        padding-right: 4rem

  +mobile

    &-basic
      font-size: 1.9rem
      padding: .8rem 3.2rem .6rem

    &-primary
      font-size: 2rem
      background-size: 4rem
      padding: .8rem 6rem .8rem 1.6rem
      width: 100%
      border-radius: .8rem

    &-secondary
      font-size: 2rem
      padding: .8rem 1.6rem
      width: 100%
      &:before
        width: .5rem
      &:after
        height: .3rem

    &-tertiary
      font-size: 1.6rem
      padding: .2rem 4rem .1rem

    &-quaternary
      font-size: 1.6rem
      padding: .8rem 3.2rem
      .is-padding
        padding: .8rem 3rem
      &.is-gray
        padding: 0.6rem 1.6rem 0.4rem

    &-submit
      font-size: 1.6rem
      padding: .8rem 3rem
      width: 26rem
      .icon
        background-size: 2.4rem
        padding-left: 3rem
        padding-right: 3rem

  @media screen and ( max-width: 460px )

    &-primary, &-secondary
      font-size: 1.6rem

    &-tertiary
      padding:
        left: 2rem
        right: 2rem
