@charset "utf-8"

.card-figure
  a
    display: block
  img
    width: 100%
  .text
    padding: 0 3.2rem

  &.is-medium
    width: 30rem
    max-width: 100%
    margin:
      left: auto
      right: auto
  &.is-large
    width: 54.4rem
    max-width: 100%
    margin:
      left: auto
      right: auto

.card-item
  a
    display: block
  img
    width: 100%
  .card-heading
    text-align: center

  &.is-small
    width: 20rem
    max-width: 100%
    margin:
      left: auto
      right: auto

  &.is-large
    width: 46rem
    max-width: 100%
    margin:
      left: auto
      right: auto

.card-lighhight
  position: relative
  border-radius: .5rem
  background-color: #bababa
  padding: 1rem
  text-align: center
  .card-link
    display: block
    img
      width: 100%
  .card-figure
    margin-bottom: 0.8rem

+desktop

  .card-figure
    font-size: 1.8rem
    .text
      padding: 0 3.2rem

  .card-item
    .card-heading
      font-size: 1.8rem
    .card-body
      padding: .8rem 1.8rem

  .card-lighhight
    font-size: 2rem

+mobile

  .card-figure
    font-size: 1.5rem
    margin-bottom: .8rem
    .text
      padding: 0 1.6rem

  .card-item
    margin-bottom: 1.6rem
    max-width: 100%
    margin:
      left: auto
      right: auto
    .card-heading
      font-size: 1.5rem
    .card-body
      padding: .8rem 1.8rem

    &.is-small, &.is-large
      width: 100%

  .card-lighhight
    font-size: 1.6rem
