@charset "utf-8"

.keyvisual-wrapper
  background-color: #4dff2a
  +display-flex
  +justify-content(center)
  +align-items(center)

.breadcrumb

  &-wrapper
    padding: .8rem 0

  .item
    display: inline-block

    + .item
      &:before
        content:    '>'
        display:    inline-block
        margin: 0 .8rem 0 0
        font-size: 1.2em
        line-height: 1
        vertical-align: middle

  .link
    display:        inline-block
    color:          #333
    +transition(color .26s ease)

.section

  &-common
    padding: 2.4rem 0 0
    &.is-padding-bottom
      padding-bottom: 2.4rem

  &-content
    .clearfix
      margin-bottom: 2.4rem

    &:not(:last-child)
      margin-bottom: 3.2rem

.social
  +display-flex
  +flex-wrap(wrap)
  +justify-content(center)
  text-align: center
  > *
    +flex(0 0 auto)
    max-width: 100%

.news

  &-wrapper
    margin-bottom: 0.16rem

  &-item
    position: relative
    line-height: 1.3

  &-title
    .label
      display: inline-block
      line-height: 1
      padding-left: .5em
      position: relative
      top: -.15em
      vertical-align: middle

  &-desc
    line-height: 1.5

  &-date
    margin-top: 0.8rem
    text-align: right
    line-height: 1

.figure-image
  figcaption
    padding: .8rem 1.6rem

.block

  &-large
    width: 58rem
    max-width: 100%
    margin:
      left: auto
      right: auto

  &-medium
    width: 50rem
    max-width: 100%
    margin:
      left: auto
      right: auto

  &-small
    width: 41.6rem
    max-width: 100%
    margin:
      left: auto
      right: auto

.box

  &-button
    width: 46rem
    max-width: 100%
    border-top: .2rem solid #0404bb
    margin:
      left: auto
      right: auto

  &-border
    border: .2rem solid #9a9a9a
    border-radius: .8rem
    .heading
      border-bottom: .2rem solid #9a9a9a
      .icon
        position: relative
        top: -.1em
        display: inline-block
        vertical-align: middle
        background:
          repeat: no-repeat
          position: center
          size: 100% 100%
          image: url('../img/common/icon_label_green.png')

  &-lighhight
    background-color: #bababa
    border-radius: .5rem

.cart

  &-box
    padding: .8rem
    &.is-sky
      background-color: #00ffde
    &.is-yellow
      background-color: #fffc20

    .between
      height: 100%
      +display-flex
      +justify-content(center)
      +align-items(center)

  &-wrapper
    display: inline-block
    margin: 0 auto .8rem
    .text
      font-weight: 700

.paper
  +display-flex
  +flex-wrap(wrap)
  +justify-content(center)
  .item
    display: inline-block
    text-align: center
    line-height: 1
    border-radius: .5rem
    background-color: #41d500
    color: #fff
    transition: all .25s ease
    font-weight: 700
    img
      position: relative
      top: -.1em
  li.is-active
    .item
      background-color: #bababa
      color: #000

.block-inquiries
  line-height: 1.5
  .flex
    +display-flex
  .tel
    margin-bottom: .5rem
  .icon
    display: inline-block
    padding-top: 1em
  .col
    padding: 0 1rem
    &:nth-child(2)
      width: 100%
      +flex-grow(1)

.lightbox
  display: none
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.7)
  z-index: $base-zindex-modal
  .wrapper
    width: 100%
    height: 100%
    padding: 1rem
  .content
    overflow: hidden
    background-color: #fff
    position: absolute
    z-index: 10
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: .8rem
    max-width: 90%
    max-height: 95%
    width: 50rem
  .over
    position: absolute
    z-index: 5
    width: 100%
    height: 100%
    left: 0
    top: 0
  .close
    cursor: pointer
    position: absolute
    z-index: 5
    top: 0
    right: 0
    background-color: #000
    color: #fff
    font-weight: 700
    font-size: 2em
    padding: .8rem
    line-height: 1


+desktop

  .keyvisual-wrapper
    height: 18rem
    font-size: 6rem

  .breadcrumb
    font-size: 1.6rem

  .section
    &-content
      &.is-padding
        padding:
          left: 1rem
          right: 1rem

  .button
    margin-bottom: 2.4rem

  .social
    $val: 1.6rem
    margin: 0 -#{$val}
    > *
      padding: 0 $val
      margin-bottom: $val

  .news
    &-title
      font-size: 2rem
    &-desc
      font-size: 1.8rem

  .figure-image
    &.is-width-medium
      width: 30rem
      max-width: 100%
    figcaption
      &.is-big
        font-size: 2rem

  .box

    &-button
      padding: 4rem 1.6rem

    &-border
      font-size: 2rem
      padding: 2.4rem

      .heading
        padding-bottom: 1.6rem
        .icon
          width: 3.2rem
          height: 2.8rem

      .margin-bottom
        margin-bottom: 1.6rem

    &-lighhight
      font-size: 2rem
      padding: 1rem 7rem
      margin-bottom: 2.4rem

    &-margin
      margin: 8rem 0

  .cart

    &-box
      font-size: 2rem
      .between
        height: 31rem
      .cart-wrapper
        padding: 4rem 0 6rem

    &-wrapper
      .text
        font-size: 2.4rem
      .price
        font-size: 4rem

  .paper
    $val: 1rem
    margin: 0 -#{$val}
    font-size: 2rem
    li
      padding:
        left: $val
        right: $val
      &:hover
        .item
          background-color: #bababa
          color: #000
    .item
      $val: 6rem
      width: $val
      height: $val
      line-height: $val

    &-wrapper
      margin-bottom: 4rem

  .block-inquiries
    font-size: 1.8rem
    margin-bottom: 3.2rem
    .heading
      font-size: 2rem
      margin-bottom: 1rem
    .title
      font-size: 2.4rem
      margin-bottom: 0.5rem
    .col
      &:nth-child(1)
        +dflex(11rem)

@media screen and ( max-width: 832px )

  .section-keyvisual
    .wrapper-large
      padding:
        left: 0
        right: 0

  .breadcrumb-wrapper
    .wrapper
      padding:
        left: 0
        right: 0
    .breadcrumb
      padding: 0 1rem

  .keyvisual-wrapper
    height: 15rem

  .paper
    $val: 1rem
    margin: 0 -#{$val}
    font-size: 1.6rem
    li
      padding:
        left:   $val
        right:  $val
    .item
      $val: 5rem
      width: $val
      height: $val
      line-height: $val

  .figure-image
    &.is-width-medium
      width: 22rem
      max-width: 100%

+mobile

  .keyvisual-wrapper
    height: 10rem
    font-size: 3rem

  .breadcrumb
    font-size: 1.4rem

  .date
    font-size: 1.2rem

  .button
    margin-bottom: 1.6rem

  .social
    $val: .8rem
    margin: 0 -#{$val}
    > *
      padding: 0 $val
      margin-bottom: $val
    img
      width: 40px

  .news
    &-title
      font-size: 1.5rem
      .label
        width: 3.5rem
    &-desc
      font-size: 1.4rem
    &-date
      font-size: 1.2rem

  .figure-image
    &.is-width-medium
      width: 18rem
    figcaption
      &.is-big
        font-size: 1.6rem

  .box

    &-button
      padding: 2.4rem .8rem

    &-border
      font-size: 1.6rem
      padding: 1.6rem
      .heading
        padding-bottom: 1.6rem
        .icon
          width: 2.4rem
          height: 2.4rem

    &-lighhight
      font-size: 1.6rem
      padding: 1rem 1.6rem
      margin-bottom: 1.8rem

    &-margin
      margin: 4rem 0

  .cart

    &-box
      font-size: 1.6rem
      .between
        height: 15rem
      .cart-wrapper
        padding: 2.4rem 0

    &-wrapper
      margin-bottom: 0.8rem
      .text
        font-size: 2rem
      .price
        font-size: 3rem
      img
        width: 22rem

  .paper
    $val: .5rem
    margin: 0 -#{$val}
    font-size: 1.6rem
    li
      padding:
        left:   $val
        right:  $val
    .item
      $val: 4rem
      width: $val
      height: $val
      line-height: $val

    &-wrapper
      margin-bottom: 2.4rem

  .block-inquiries
    font-size: 1.6rem
    margin-bottom: 2.4rem
    .heading
      font-size: 1.6rem
      margin-bottom: 1rem
    .title
      font-size: 2rem
      margin-bottom: 0.5rem
    .col
      &:nth-child(1)
        +dflex(8rem)

@media screen and ( max-width: 480px )

  .cart

    &-box
      .cart-wrapper
        padding: 2rem 0 2rem

    &-wrapper
      margin-bottom: 0.8rem
      .text
        font-size: 1.4rem
      .price
        font-size: 2.4rem
      img
        width: 18rem

  .paper
    $val: .5rem
    margin: 0 -#{$val}
    font-size: 1.4rem
    li
      padding:
        left:   $val
        right:  $val
    .item
      $val: 2.5rem
      width: $val
      height: $val
      line-height: $val
      img
        width: 0.8rem

  .block-inquiries
    font-size: 14px
    .heading
      font-size: 1.5rem
    .title
      font-size: 1.6rem
    .icon
      img
        width: 5rem
    .col
      &:nth-child(1)
        +dflex(7rem)

  .figure-image
    &.is-width-medium
      width: 14.4rem

@media screen and ( max-width: 320px )

  .figure-image
    &.is-width-medium
      width: 100%

