@charset "utf-8"

//- Variables

$placeholder:                         #4d4d4d

$frm-input-padding:                     1rem
$frm-input-radius:                      .5rem

$frm-form-gr-left-width:                25rem
$frm-form-gr-padding:                   4rem
$frm-form-gr-margin:                    0
$frm-form-gr-padding:                   2.5rem 0

$frm-error:                             #B70000

//- ----------------------------------

input, textarea
  +placeholder($placeholder)
input[type=text]::-ms-clear
  display:    none
  width:      0
  height:     0
input[type=text]::-ms-reveal
  display:    none
  width:      0
  height:     0
textarea
  resize:     none
  height: 16.8rem

input, textarea, select
  width:            100%
  display:          block
  font-weight:      400
  line-height:      initial
  background:
    color:          #fff
    clip:           padding-box
  &:focus
    outline: 0
  .is-error
    border-color:   $frm-error !important

button
  cursor: pointer

.form

  .label
    display:              inline-block
    vertical-align:       middle

  .error
    color:            $frm-error !important

  &-wrapper
    margin:
      left:           auto
      right:          auto

  &-submit
    cursor: pointer
    display: inline-block
    background-color: #ef4328
    color: #fff
    text-align: center
    min-width: 190px
    padding: 1.2rem .8rem
    line-height: 1

  &-search
    .form-row
      +display-flex
    .form-control
      +flex-grow(1)
    .control
      background-color: #ababab
    .submit
      white-space: nowrap
      background:
        repeat: no-repeat
        size: 100% 100%
        position: center
        image: url('../img/common/bg_btn_02.png')

  &-contact
    .form-control
      border: .3rem solid #000
      width: 100%
      padding: .8rem

  +desktop-ie

    input
      line-height: 2

  +desktop

    &-search
      .form-row
        > *
          padding: 0 .8rem
      .control
        padding: 1.2rem
        border: .2rem solid $color-border
        border-radius: 2rem
      .submit
        font-size: 2.4rem
        padding: 1.6rem 4.8rem

    &-contact
      font-size: 1.8rem
      .form-row
        margin-bottom: 1.6rem
        &:last-child
          margin: 3.2rem 0

  +mobile

    &-search
      .form-row
        > *
          padding: 0 .8rem
      .control
        padding: .8rem 1.6rem
        border: .1rem solid $color-border
        border-radius: 2rem
      .submit
        font-size: 1.4rem
        padding: 1.2rem 1.6rem

    &-contact
      font-size: 1.6rem
      .form-row
        margin-bottom: 1.6rem
        &:last-child
          margin: 2.4rem 0
      .form-control
        border-width: .1rem
