@charset "utf-8"

//- Variables

$heading-lh:      1.4
$heading-fw:      500

//- ----------------------------------

h1, h2, h3, h4, h5, h6
  position: relative
  font:
    weight:     $heading-fw
  line-height:  $heading-lh

.heading

  &-primary
    position:           relative
    font:
      weight:           700
    color:              #000
    padding:            .5rem 3.2rem .2rem
    border-radius:      .2rem
    background-color:   #e9f6cd
    margin-bottom:      1.6rem
    &:before
      content:          ''
      position:         absolute
      top:              0
      left:             1rem
      height:           100%
      width:            0.4rem
      background-color: #056b05

  &-secondary
    position:           relative
    font:
      weight:           700
    color:              #000
    border:             .2rem solid #ffde00
    background-color:   #e9f6cd
    margin-bottom:      1.6rem

  &-tertiary
    font:
      weight: 700
    color: #008c00

  &-quaternary
    font:
      weight:   700
    color: #000
    border-bottom: .1rem solid #000

  &-quinary
    position: relative
    &:before, &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
    &:before
      z-index: 5
      background-color: #01ff0d
    &:after
      z-index: 4
      width: 100%
      background-color: #bcb3b3

  &-senary
    font-weight: 700
    position: relative
    padding-left: .5em
    margin-bottom: 1rem

.title
  &.is-border
    border-bottom: .2rem solid #a09999

+desktop

  .heading

    &-primary
      font-size: 2rem

    &-secondary
      font-size: 2rem
      padding:  .8rem 2.4rem .6rem

    &-tertiary
      font-size: 2rem

    &-quaternary
      font-size: 2rem

    &-quinary
      font-size: 2.2rem
      margin-bottom: 2.4rem
      &:before, &:after
        height: 0.4rem
      &:before
        width: 14rem

    &-senary
      font-size: 2.2rem
      border-left: .8rem solid #008842

    &-big
      font-size: 3rem
      margin-bottom: 0.8rem
    &-small
      font-size: 2rem
      font-weight: 400

  .title
    font-size: 2.4rem
    margin-bottom: 1.6rem
    &.is-small
      font-size: 2.2rem

+mobile

  .heading

    &-primary
      font-size: 1.5rem

    &-secondary
      font-size: 1.5rem
      padding:  .8rem 2.4rem .6rem

    &-tertiary
      font-size: 1.7rem

    &-quaternary
      font-size: 1.7rem

    &-quinary
      font-size: 2rem
      margin-bottom: 1.6rem
      &:before, &:after
        height: 0.2rem
      &:before
        width: 6rem

    &-senary
      font-size: 1.6rem
      border-left: .4rem solid #008842

    &-big
      font-size: 2.4rem
      margin-bottom: 0.8rem
    &-small
      font-size: 1.5rem
      font-weight: 400

  .title
    font-size: 2rem
    margin-bottom: 0.8rem
    &.is-small
      font-size: 1.8rem
