@charset "utf-8"

+desktop-ie

  .nav-item .nav-dropdown-icon
    background-size: 99%

  figure
    img
      width: 100%

  .card-link
    img
      width: 100%

  input, textarea
    line-height: 1.5
