@charset "utf-8"

//- Variables

$rows-default:      .5rem
$row-col:           ('two' : '50%', 'three' : '33.33%', 'four' : '25%', 'five' : '20%')

//- ----------------------------------

.layout

  &-row
    +display-flex
    +flex-wrap(wrap)
    margin:
      left:       -#{$rows-default}
      right:      -#{$rows-default}

    > *
      position:   relative
      width:      100%
      padding:
        left:     #{$rows-default}
        right:    #{$rows-default}

    .col
      +flex-basis(0)
      +flex-grow(1)
      max-width: 100%

      &-auto
        +flex(0 0 auto)
        width: auto
        max-width: 100%

    &-reverse
      +flex-direction(row-reverse)

    &.four-column
      > *
        +dflex(25%)

    &.is-center
      +justify-content(center)

  &-row
    margin-bottom: 4rem
    > *
      margin-bottom:   #{$rows-default*2}

    &.is-padding-large
      $val: 1rem
      margin:
        left: -#{$val}
        right: -#{$val}
      > *
        padding: 0 $val
        margin-bottom: $val*2 !important

  @media screen and ( min-width: 768px )
    &-row
      margin-bottom: 3.2rem
      > *
        width: 50% !important
        &:not(:last-child)
          margin-bottom: 2.4rem

  @media ( min-width: 375px ) and ( max-width: 767px )
    &-row
      margin-bottom: 3.2rem
      > *
        width: 50% !important
        &:not(:last-child)
          margin-bottom: 2.4rem

      .col
        +dflex(50%)


  @media screen and ( max-width: 374px )

    &-row
      margin-bottom: 4rem
      > *
        width: 100% !important
        &:not(:last-child)
          margin-bottom: 2.4rem

      .col
        +dflex(100%)

      &.sm-two-column

        .col
          +dflex(50% !important)


