@charset "utf-8"


.list-news
  margin-bottom: 0.8rem
  li
    border-bottom: .1rem dashed currentColor
    padding: .8rem 0

.list-tags
  +display-flex
  +flex-wrap(wrap)

  .item
    display: inline-block
    line-height: 1.3
    color: #000
    background-color: #9b9b9b
    border: .1rem solid #28df1a

.list-dots
  li
    position: relative
    padding-left: 1.5em
    &:before
      content: '・'
      position: absolute
      top: 0
      left: 0

.list-line
  li
    position: relative
    padding-left: 1.5em
    &:before
      content: '－'
      position: absolute
      top: 0
      left: 0

.list-decimal
  li
    counter-increment: step-counter
    position: relative
    padding-left: 1.8em
    margin-bottom: 0.2em
    &:before
      content: counter(step-counter) ')'
      position: absolute
      top: 0
      left: 0
      letter-spacing: 0.2em
    &.margin
      margin-bottom: 0.8em
    .margin
      display: inline-block
      margin-bottom: 0.8rem

.list-decimal-circle
  li
    counter-increment: step-counter
    position: relative
    padding-left: 1.8em
    &:before
      content: counter(step-counter)
      position: absolute
      top: .3em
      left: .3em
      width: 1.2em
      height: 1.2em
      border-radius: 50%
      border: 1px solid
      text-align: center
      font-size: .8em
      line-height: 1.1

.list-imformation
  .item
    p:not(:last-child)
      margin-bottom: .8rem
  .link
    display: inline-block
    position: relative
    padding-left: 1em
    &:before
      content: ''
      position: absolute
      top: .2em
      left: 0
      height: .8em
      width: .8em
      background:
        repeat: no-repeat
        position: center
        size: cover
        image: url('../img/common/icon_arrow_btn_02.png')
  .date
    position: relative
    display: inline-block
    padding-right: 4.2em
    &:after
      content: ''
      position: absolute
      top: .1em
      right: 0
      height: 1em
      width: 4em
      background:
        repeat: no-repeat
        position: center
        size: cover
        image: url('../img/common/icon_label_yellow.png')

.list-records
  padding: 1.6rem 0
  border:
    top: .3rem solid #ffa200
    bottom: .3rem solid #ffa200

  li
    position: relative
    &:not(:last-child)
      padding-bottom: 0.8rem
      margin-bottom: 0.8rem
      &:after
        content: ''
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        width: 90%
        height: 0.1rem
        border-bottom: .1rem dashed #000

  .flex
    +display-flex
  .col
    &:nth-child(2)
      width: 100%
      +flex-grow(1)

+desktop

  .list-tags
    $val: .8rem
    margin: 0 -#{$val} 1.6rem
    padding: 0 1.6rem
    > *
      padding: 0 $val
      margin-bottom: $val*2
    .item
      font-size: 1.8rem
      border-radius: 1.8rem
      padding: .8rem 1.6rem

  .list-imformation
    font-size: 1.8rem
    margin-bottom: 3.2rem
    li
      padding: 1.6rem 0
      border-bottom: .2rem solid #9a9a9a

  .list-records
    font-size: 1.8rem
    margin-bottom: 4rem
    .col
      &:nth-child(1)
        +dflex(18rem)

  .list-decimal
    &.is-big
      li
        &:before
          font-size: 2rem

+mobile

  .list-tags
    $val: .4rem
    margin: 0 -#{$val} 1.6rem
    > *
      padding: 0 $val
      margin-bottom: $val*2
    .item
      font-size: 1.4rem
      border-radius: 1.8rem
      padding: .4rem .8rem

  .list-imformation
    font-size: 1.5rem
    margin-bottom: 2.4rem
    li
      padding: 1.6rem 0
      border-bottom: .2rem solid #9a9a9a

  .list-records
    font-size: 1.5rem
    margin-bottom: 2.4rem
    .col
      &:nth-child(1)
        +dflex(13rem)

@media screen and ( max-width: 480px )

  .list-records
    .flex
      display: block
    .col
      width: 100%
      max-width: 100%
      &:not(:last-child)
        margin-bottom: 0.2rem
