@charset "utf-8"

//- Variables


//- ----------------------------------

.media
  position: relative
  $val: .8rem
  +display-flex
  margin: 0 -#{$val}
  > *
    padding: 0 $val

  &:not(:last-child)
    margin-bottom: 1.6rem

  &-link
    display: block
    img
      width: 100%

  &-figure
    +flex(0 0 auto)
    width: auto
    max-width: 100%
  &-body
    +flex-grow(1)
    font-size: 1.8rem
    .small
      font-size: 1.6rem

  figure
    max-width: 30rem
  figcaption
    font-size: 1.6rem
    padding: .8rem 1.6rem

  @media screen and ( max-width: $base-sm-break )

    &-figure
      max-width: 200px
      margin:
        left: auto
        right: auto
    &-body
      font-size: 1.5rem

    figcaption
      font-size: 1.4rem

  @media screen and ( max-width: 460px )

    &-figure
      max-width: 140px

  @media screen and ( max-width: 374px )
    display: block

    &:not(:last-child)
      margin-bottom: 2.4rem
    > *
      &:not(:last-child)
        margin-bottom: 0.8rem

    &-figure
      max-width: 100%
    &-body
      font-size: 1.5rem

    figure
      max-width: 100%
      img
        margin-bottom: 0.8rem
