@charset "utf-8"

//- Variables
$dots-color:  #666
$dots-active-color: #111
//- ----------------------------------

.slider:not(.slick-initialized)
  .slide:not(:first-of-type)
    display: none

.slick-slider
  outline: none
  -webkit-backface-visibility: hidden

  &.is-visible
    .slick-list
      overflow: visible
    .slick
      padding: 0 1rem

.slick-counter
  position: absolute
  bottom: 1rem
  right: 1rem
  z-index: 10
  font:
    size: 2rem
    weight: 700
  background-color: #fff
  padding: 1.6rem

//- Slick Theme

.slick-loading
  .slick-list
    background: #fff url('../img/common/ajax-loader.gif') center center no-repeat

.slick-prev, .slick-next
  cursor:         pointer
  line-height:    1
  position:       absolute
  z-index:        100
  top:            50%
  display:        block
  padding:        0
  +transform(translate(0, -50%))
  color:          transparent
  border:         none
  outline:        none
  background:
    color:        transparent
    repeat:       no-repeat
    position:     center
    size:         contain

.slick-prev, .slick-next
  &.slick-disabled
    pointer-events: none
    +opacity(0)

.slick-prev
  background-image: url('../img/common/icon_arrow_prev.png')
.slick-next
  background-image: url('../img/common/icon_arrow_next.png')

[dir='rtl']
  .slick-prev
    background-image: url('../img/common/icon_arrow_prev.png')
  .slick-next
    background-image: url('../img/common/icon_arrow_next.png')

.slick-dots
  position:   absolute
  bottom:     1rem
  display:    block
  width:      100%
  padding:    0
  margin:     0
  list-style: none
  text-align: center

  li
    cursor:     pointer
    position:   relative
    display:    inline-block
    padding:    0

    button
      font-size:  .1rem
      cursor:     pointer
      display:    block
      color:      transparent
      border:     0
      outline:    none
      background:
        color:    $dots-color
      border-radius: 50%

    &.slick-active
      button
        background-color: $dots-active-color

+desktop

  .slick-prev, .slick-next
    $width:         8rem
    width:          $width
    height:         $width
    +transition(opacity $speed ease)
    &:hover
      outline: none
      +opacity(.6)

  .slick-prev
    left: 1rem

  .slick-next
    right: 1rem

  [dir='rtl']
    .slick-prev
      right: 1rem
      left: auto
    .slick-next
      right: auto
      left: 1rem

  .slick-dotted.slick-slider
    padding-bottom: 4rem

  .slick-dots
    li
      margin:     0 1rem
      button
        $width:   1.8rem
        width:    $width
        height:   $width
        +transition(opacity $speed ease)
        &:hover, &:focus
          outline: none
          +opacity(.6)

+mobile

  .slick-prev, .slick-next
    $width:         3rem
    width:          $width
    height:         $width

  .slick-prev
    left: 0

  .slick-next
    right: 0

  [dir='rtl']
    .slick-prev
      right: 0
      left: auto
    .slick-next
      right: auto
      left: 0

  .slick-dotted.slick-slider
    padding-bottom: 3rem

  .slick-dots
    li
      margin:     0 .5rem
      button
        $width:   1.2rem
        width:    $width
        height:   $width
