@charset "utf-8"

.table

  &-wrapper

  &-primary
    width: 100%
    line-height: 1.5
    border: .2rem solid #f1a424
    th, td
      border: .2rem solid #f1a424
      padding: .8rem 1.6rem
      vertical-align: top
      p
        margin-bottom: 0.5em

  +desktop

    &-heading
      font-size: 2rem
    &-primary
      font-size: 1.8rem
      th
        width: 15rem

  +mobile

    &-heading
      font-size: 1.8rem
    &-primary
      font-size: 1.5rem
      th
        width: 10rem
