@charset "utf-8"

.padding-left
  padding-left: 1rem

.margin-bottom-none
  margin-bottom: 0 !important
.margin-bottom
  margin-bottom: 1.6rem

.square
  display: inline-block
  vertical-align: middle
  width: 1.2em
  height: 1.2em
  background-color: blue

.embed-wrapper
  position: relative
  height: 0
  display: block
  padding-bottom: 60%
  .item
    position: absolute
    z-index: 10
    height: 100%
    width: 100%

hr.line
  border: 0
  border-bottom: .2rem solid #3bea4b
  margin: 1.6rem 0 0

.url
  position: relative
  display: inline-block
  padding-left: 1.5em
  &:before
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    width: 1em
    height: 1em
    background:
      repeat: no-repeat
      position: center
      size: contain
      image: url('../img/common/icon_arrow_btn.png')

.text

  &-indent
    text-indent: 1.5em

  &-blue
    color: blue
  &-red
    color: red

  &-padding
    padding: 0 4rem

  &-wrapper
    line-height: 1.5

+desktop

  .margin-bottom-medium
    margin-bottom: 3.2rem
  .margin-bottom-large
    margin-bottom: 8rem

  .padding
    padding: 0 3.2rem
    &.is-small
      padding: 0 1.6rem

  .text

    &-padding
      padding: 0 7rem
      &.is-small
        padding: 0 4rem

    &-wrapper
      font-size: 1.8rem
      margin-bottom: 1.8rem
      > *
        margin-bottom: 1.6rem

      .big
        font-size: 2rem

      .clearfix
        margin-bottom: 1.6rem

        ul
          margin-top: 0.5rem

      &.is-big
        font-size: 2rem

+mobile

  .margin-bottom-medium
    margin-bottom: 2.4rem
  .margin-bottom-large
    margin-bottom: 4rem

  .url
    font-size: 1.2rem

  .text
    &-padding
      padding: 0 1.6rem

    &-wrapper
      font-size: 1.5rem
      margin-bottom: 1.6rem
      > *
        margin-bottom: 1.6rem

      .big
        font-size: 1.6rem

      .clearfix
        margin-bottom: 1.2rem

      &.is-big
        font-size: 1.6rem


