@charset "utf-8"


/* ADDITIONAL RESET
 * -----------------------------------------------*/

*,
*:before,
*:after
  +box-sizing(border-box)

body *
  max-height: 99999em

img
  display: inline-block
  vertical-align: middle
  max-width: 100%
  &.full-width
    width: 100% !important

input,
label,
select,
button,
textarea
  margin: 0
  border: 0
  padding: 0
  display: inline-block
  vertical-align: middle
  white-space: normal
  background: none
  font: inherit
  line-height: 1

input:focus,
button:focus,
select:focus
  outline: 0

/* Make webkit render the search input like a normal text field */
input[type=search]
  -webkit-appearance: textfield

/* Turn off the recent search for webkit. It adds about 1.5rem padding on the left */
::-webkit-search-decoration
  display: none

/* Turn off scroll bars in IE unless needed */
textarea
  overflow: auto
  white-space: pre-line


/* PRINTING
 * -----------------------------------------------*/

@media print
  body
    -webkit-print-color-adjust: exact
  html,
  body
    margin: 0
  @page
    margin: 0
  @page :left
    margin: 0
  @page :right
    margin: 0
  @page :first
    margin-top: 0


/* GENERAL
 * -----------------------------------------------*/

body
  color:          $base-font-color
  font:
    family:       $base-font-family
    size:         $base-font-size
    weight:       $base-font-weight
  line-height:    $base-line-height
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
  -ms-text-size-adjust: none
  background:
    color:        #F6F6F6
  &.inforgraphic
    background: #ffffff
html
  font-size: 62.5%

.ft-lato
  font-family: 'Lato', sans-serif
.ft-time
  font-family: 'Times New Roman', serif
.ft-arial
  font-family: 'Arial', sans-serif
.ft-hel
  font-family: 'Helvetica' , serif



/* HELPERS
 * -----------------------------------------------*/

a
  color: $base-font-color
  text-decoration: none

strong
  font-weight: 700

u
  text-decoration: underline

.hidden
  display: none

.invisible
  visibility: hidden

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify

.text-nowrap
  white-space: nowrap

.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

.inline-block
  display: inline-block

.display-block
  display: block
.flex-wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
.display-flex
  +display-flex

.justify-content-end
  -ms-flex-pack: end !important
  justify-content: flex-end !important

.justify-content-between
  -ms-flex-pack: justify
  justify-content: space-between

.justify-content-around
  -ms-flex-pack: distribute
  justify-content: space-around

.align-items-start
  -ms-flex-align: start !important
  align-items: flex-start !important

.align-items-end
  -ms-flex-align: end !important
  align-items: flex-end !important

.align-items-center
  -ms-flex-align: center !important
  align-items: center !important

.align-items-baseline
  -ms-flex-align: baseline !important
  align-items: baseline !important

.align-items-stretch
  -ms-flex-align: stretch !important
  align-items: stretch !important
.wrapper
  width: 100%
  max-width: 962px
  padding:
    left: 1.5rem
    right: 1.5rem
  margin:
    left: auto
    right: auto


/* RESPONSIVE
 * -----------------------------------------------*/

@media print, (min-width: 769px)
  .trans
    +opacity(1)
    +transition(opacity .26s ease)
    &:hover
      +opacity(0.8)

+desktop

  .tel-pointer
    display: inline-block
    pointer-events: none

  .sm
    display: none !important

+mobile
  .display-block-sm
    display: block!important
  .md
    display: none !important

  .container
    width: auto
    min-width: 32rem

  .wrapper
    width: auto
    padding:
      left: 2rem
      right: 2rem
+mobile-xs
  .wrapper
    padding:
      left: 1rem
      right: 1rem