@charset "utf-8"

/* MEDIA QUERIES
 * -----------------------------------------------*/

=desktop
  @media print, (min-width: $base-sm-break + 1)
    @content
=desktop-ie
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    @content
=desktop-edge
  @supports (-ms-ime-align: auto)
    @content
=mobile
  @media only screen and (max-width: $base-sm-break)
    @content
=mobile-xs
  @media only screen and (max-width: $base-xs-break)
    @content

=clearfix()
  &::after
    display: block
    content: ""
    clear: both

=placeholder($color)
  &::-webkit-input-placeholder
    color: $color
  &::-moz-placeholder
    color: $color
  &:-ms-input-placeholder
    color: $color
  &:-moz-placeholder
    color: $color

=hover()
  &:hover, &:focus, &:active
    @content

=dflex($flex)
  +flex(0 0 #{$flex})
  max-width: #{$flex}

=trans()
  +opacity(1)
  +transition(opacity .26s ease)
  &:hover
    +opacity(0.8)
