include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -pageID       = ''
  -path         = ''

doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0", id="viewport")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap', rel='stylesheet')
    link(rel="stylesheet", href=path+"/css/fonts/font.css")
    link(rel="stylesheet", href=path+"/css/style.css")
  body
    .container
      include ../_parts/header
      main
        block container
      include ../_parts/footer
    script(src=path+"/js/scripts.js")