footer.main-footer
    .wrapper-footer
        .top-footer.display-flex.justify-content-between.display-block-sm
            .logo-ft
                img(src=path+"/img/common/logo-footer.png", alt="Nhịp Sống")
            .list-icon
                a.trans(href="#")
                    img(src=path+"/img/common/icon-faceboook.png", alt="facebook")
                a.trans(href="#")
                    img(src=path+"/img/common/icon-youtube.png", alt="youtube")
        .bot-footer.display-flex.justify-content-between.display-block-sm
            .infor
                p Chuyên trang của Tạp chí điện tử Nhịp Sống Số
                p Giấy phép số 197/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 19/04/2016.
                p Ghi rõ nguồn khi phát hành lại thông tin từ trang này.
            .address
                p Tòa soạn: Tầng aaa, tòa nhà
                p Hotline: bbbbbbbbb