header.main-header
	.wrapper
		.btn-menu-sm(onclick="FunctionMenuMibile()")
			span
			span
			span
		h1.logo
			a.trans(href="#")
				img(src=path+"/img/common/logo.png", alt="Nhịp sống thời đại")
	.wrapper
		.top-navigation.display-flex.justify-content-between.align-items-start#navigation-mobile
			nav.navigation#navigation
				ul
					li
						a.nav__home.trans#btn-menu(href="#" onclick="FunctionMenu()")
							span
							span
							span
					li
						a.trans(href="#") TRENDING

					li
						a.trans(href="#") KINH DOANH
						ul
							li
								a(href="#") KHỞI NGHIỆP
							li
								a(href="#") QUẢN TRỊ
							li
								a(href="#") THỊ TRƯỜNG
							li
								a(href="#") TÀI CHÍNH
					li
						a.trans(href="#") NHÂN LỰC
						ul
							li
								a(href="#") XU HƯỚNG
							li
								a(href="#") KỸ NĂNG
					li
						a.trans(href="#") CÔNG NGHỆ
						ul
							li
								a(href="#") SẢN PHẨM
							li
								a(href="#") PHƯƠNG TIỆN
							li
								a(href="#") NỘI DUNG SỐ

					li
						a.trans(href="#") SỐNG
						ul
							li
								a(href="#") TRẢI NGHIỆM

			form.box-search(action="#")
				input(type="text" placeholder="Tìm kiếm...")
				button