header.main-header.sub-page
	.inner
		.display-flex.align-items-start
			h1.logo
				a.trans(href="#")
					img(src=path+"/img/common/logo.png", alt="Nhịp sống thời đại")
			nav.navigation-sub#navigation
				form.box-search.sm(action="#")
					input(type="text" placeholder="Tìm kiếm...")
					button
				ul.display-flex
					li
						a.trans(href="#") TRENDING

					li
						a.trans(href="#") KINH DOANH
						ul
							li
								a(href="#") KHỞI NGHIỆP
							li
								a(href="#") QUẢN TRỊ
							li
								a(href="#") THỊ TRƯỜNG
							li
								a(href="#") TÀI CHÍNH
					li
						a.trans(href="#") NHÂN LỰC
						ul
							li
								a(href="#") XU HƯỚNG
							li
								a(href="#") KỸ NĂNG
					li
						a.trans(href="#") CÔNG NGHỆ
						ul
							li
								a(href="#") SẢN PHẨM
							li
								a(href="#") PHƯƠNG TIỆN
							li
								a(href="#") NỘI DUNG SỐ

					li
						a.trans(href="#") SỐNG
						ul
							li
								a(href="#") TRẢI NGHIỆM

			.btn-menu-sub(onclick="FunctionMenu()")
				span
				span
				span